workflows/nido.soccer_event.json
{
  "name": "nido.soccer_event",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                2,
                5
              ],
              "triggerAtHour": 22
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        768,
        448
      ],
      "id": "9bd80ee9-aaa4-44df-8cec-0c9723c450ff"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"id\"] ? true : false}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Match Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1584,
        448
      ],
      "id": "5547e246-9246-4d8e-95e2-a0f760c39f02"
    },
    {
      "parameters": {
        "chatId": "5785514136",
        "text": "=⚽ ¡Partido el {{new Date($json[\"start\"][\"dateTime\"]).toLocaleString(\"es-ES\", {weekday: 'long', day: 'numeric', timeZone: 'Europe/Madrid'})}}!\n\n🕒 Hora: {{new Date($json[\"start\"][\"dateTime\"]).toLocaleTimeString(\"es-ES\", {hour:'2-digit', minute:'2-digit', timeZone: 'Europe/Madrid'})}}\n\n¿Te apuntas?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Sí, voy",
                    "additionalFields": {
                      "callback_data": "=yes_football|{{$json[\"start\"][\"dateTime\"]}}|{{$json[\"end\"][\"dateTime\"]}}"
                    }
                  },
                  {
                    "text": "No puedo",
                    "additionalFields": {
                      "callback_data": "no_football"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "name": "Ask Alberto",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1776,
        448
      ],
      "id": "2420661f-428d-4bd2-a659-befd54d5f445",
      "webhookId": "57c134f6-0f09-43bd-b239-b209058d7a18",
      "credentials": {
        "telegramApi": {
          "id": "JLG33gMQcdi4JvQq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        976,
        752
      ],
      "id": "6d067b90-bf68-4a17-94f7-e60ed291e1ba"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"answer\"]}}",
              "value2": "yes"
            }
          ]
        }
      },
      "name": "Is Yes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1376,
        752
      ],
      "id": "42c872d7-a1c2-40e5-a004-69347e1c9577"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "albertolau@pozoesteban.es"
        },
        "start": "={{$json[\"start\"]}}",
        "end": "={{$json[\"end\"]}}",
        "additionalFields": {
          "summary": "⚽ Partido de Fútbol de Alberto"
        }
      },
      "name": "Add to Shared Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1584,
        656
      ],
      "id": "d18e5e29-09ec-429d-9ad3-d7f92e95d45b",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "bB5cLTUIh2iApkRb",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-5234536185",
        "text": "=✅ Alberto ha confirmado que irá al fútbol el {{new Date($node[\"Parse Response\"].json[\"start\"]).toLocaleString(\"es-ES\", {weekday: 'long', day: 'numeric', month: 'long', hour: '2-digit', minute: '2-digit', timeZone: 'Europe/Madrid'})}}.",
        "additionalFields": {}
      },
      "name": "Notify Laura",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1776,
        656
      ],
      "id": "ea52d0b5-ad01-4d41-b0da-7a0d340f0149",
      "webhookId": "f4adb42f-d96a-454a-882f-71469491f6c7",
      "credentials": {
        "telegramApi": {
          "id": "JLG33gMQcdi4JvQq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "state",
        "operation": "upsert",
        "entityId": "input_datetime.proximo_futbol",
        "state": "={{ new Date($node[\"Parse Response\"].json[\"start\"]).toLocaleString(\"sv-SE\", { timeZone: \"Europe/Madrid\" }) }}"
      },
      "name": "Update Home Assistant",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        1984,
        656
      ],
      "id": "6cc3cfe5-be7d-4adc-b747-996afcf33dbe",
      "credentials": {
        "homeAssistantApi": {
          "id": "I3MbDcoMCh6VZ8R1",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5785514136",
        "text": "Vale, ¡quizás a la próxima! 👋",
        "additionalFields": {}
      },
      "name": "Ack No",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1584,
        848
      ],
      "id": "542b20c0-971e-43f1-b97c-581d8f16fe3b",
      "webhookId": "101bd5b0-5d46-4dba-9ed8-fe8a29299a1d",
      "credentials": {
        "telegramApi": {
          "id": "JLG33gMQcdi4JvQq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Start: Now\nconst now = new Date();\n\n// End: Now + 3 days\nconst endDate = new Date(now);\nendDate.setDate(now.getDate() + 3);\nendDate.setHours(23, 59, 59, 999);\n\nreturn [\n  {\n    json: {\n      start: now.toISOString(),\n      end: endDate.toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        448
      ],
      "id": "22e6b845-37e7-4ba7-a386-ef969acc3be6",
      "name": "Date Calculation"
    },
    {
      "parameters": {
        "jsCode": "const json = items[0].json;\nconst data = json.raw_data || (json.callback_query && json.callback_query.data);\n\nif (!data) {\n  return [{ json: { answer: 'no_data' } }];\n}\n\nconst parts = data.split('|');\n\nif (parts[0] === 'yes_football') {\n  return [\n    {\n      json: {\n        answer: 'yes',\n        start: parts[1],\n        end: parts[2]\n      }\n    }\n  ];\n} else {\n  return [\n    {\n      json: {\n        answer: 'no'\n      }\n    }\n  ];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        752
      ],
      "id": "ec05061b-7572-46c4-a24a-740ec71e7398",
      "name": "Parse Response"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "dogo1fapjrel5dcproumoksd40@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Futsal Castilla Promises"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{$node[\"Date Calculation\"].json[\"start\"]}}",
          "timeMax": "={{$node[\"Date Calculation\"].json[\"end\"]}}",
          "singleEvents": true,
          "query": "CASTILLA PROMISES"
        }
      },
      "name": "Get Matches Liga",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1168,
        320
      ],
      "id": "e3eb4603-e7b7-41d9-aa4d-05d9804402aa",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "FrzV2bMzBnHfLNY2",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "alberto@pozoesteban.es",
          "mode": "list",
          "cachedResultName": "alberto@pozoesteban.es"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{$node[\"Date Calculation\"].json[\"start\"]}}",
          "timeMax": "={{$node[\"Date Calculation\"].json[\"end\"]}}",
          "singleEvents": true,
          "query": "Fútbol"
        }
      },
      "name": "Get Matches Amistoso",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        1168,
        544
      ],
      "id": "5c11f1c5-5447-4808-a765-1048f5723dc5",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "FrzV2bMzBnHfLNY2",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Date Calculation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Found?": {
      "main": [
        [
          {
            "node": "Ask Alberto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Yes?": {
      "main": [
        [
          {
            "node": "Add to Shared Calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ack No",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Shared Calendar": {
      "main": [
        [
          {
            "node": "Notify Laura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Laura": {
      "main": [
        [
          {
            "node": "Update Home Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date Calculation": {
      "main": [
        [
          {
            "node": "Get Matches Liga",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Matches Amistoso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Is Yes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Matches Liga": {
      "main": [
        [
          {
            "node": "Match Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Matches Amistoso": {
      "main": [
        [
          {
            "node": "Match Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "00d3d424-9757-413b-bf8d-451b4fee0526",
  "meta": {
    "instanceId": "e1f8529dafc1c7b24188afd104b1a8e8824324405683593c80fc8bc56ba17881"
  },
  "id": "l-0lymHED94CrXwOsRH98",
  "tags": []
}