workflows/nido.router.telegram.json
{
  "name": "nido.router.telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        2480,
        -320
      ],
      "webhookId": "nido-router-telegram",
      "id": "36a0c177-6289-4e3e-9920-ff011e5da980",
      "credentials": {
        "telegramApi": {
          "id": "JLG33gMQcdi4JvQq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Telegram Trigger').item.json;\nlet type = 'other';\n\nif (msg.callback_query) {\n  type = 'callback';\n} else if (msg.message) {\n  if (msg.message.photo) {\n    type = 'photo';\n  } else if (\n    msg.message.text &&\n    msg.message.text.trim().toLowerCase() === 'r'\n  ) {\n    type = 'R';\n  } else if (msg.message.text) {\n    type = 'text';\n  }\n}\n\nreturn { json: { ...msg, type } };"
      },
      "name": "Identify Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2928,
        -320
      ],
      "id": "45679643-405b-474f-bfe5-00501b49416e"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.type }}",
        "rules": {
          "rules": [
            {
              "value2": "text"
            },
            {
              "value2": "photo",
              "output": 1
            },
            {
              "value2": "callback",
              "output": 2
            },
            {
              "value2": "R",
              "output": 3
            }
          ]
        }
      },
      "name": "Switch Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        3152,
        -352
      ],
      "id": "3d1363a7-6080-4fd2-a1eb-9061a1cc5570"
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.item.json;\nreturn { json: {\n  type: 'text',\n  content: msg.message.text,\n  chat_id: msg.message.chat.id,\n  ...msg\n}};"
      },
      "name": "Setup Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3400,
        -800
      ],
      "id": "setup-text-node"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[$json.message.photo.length - 1].file_id }}",
        "additionalFields": {}
      },
      "name": "Get Photo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        3400,
        -560
      ],
      "id": "22b4085b-ae42-48dc-a095-0c82cc1cdd8c",
      "credentials": {
        "telegramApi": {
          "id": "JLG33gMQcdi4JvQq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "folder",
              "value": "=/storage/inbox_photos/{{ new Date().getFullYear() }}/{{ (new Date().getMonth() + 1).toString().padStart(2, '0') }}/{{ new Date().getDate().toString().padStart(2, '0') }}"
            },
            {
              "name": "filename",
              "value": "={{ $json.result.file_path.split('/').pop() }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Path",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3600,
        -560
      ],
      "id": "86b4b126-cb4a-4d95-82a2-1e68c8e1005d"
    },
    {
      "parameters": {
        "command": "=mkdir -p {{ $json.folder }}"
      },
      "name": "Create Folder",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3800,
        -600
      ],
      "id": "ff9f134e-b9a4-4f0a-9cf4-86612ca31810"
    },
    {
      "parameters": {
        "mode": "mergeByIndex",
        "join": "outer"
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        4000,
        -560
      ],
      "id": "75813296-bb59-4adc-8b21-c3bd4d3e8e8c"
    },
    {
      "parameters": {
        "fileName": "={{ $node[\"Set Path\"].json.folder }}/{{ $node[\"Set Path\"].json.filename }}",
        "options": {}
      },
      "name": "Save to Disk",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        4200,
        -560
      ],
      "id": "80822fdd-7942-4368-a44b-ace8c59652cc"
    },
    {
      "parameters": {
        "jsCode": "const folder = $('Set Path').item.json.folder;\nconst filename = $('Set Path').item.json.filename;\nconst path = `${folder}/${filename}`;\nconst msg = $('Telegram Trigger').item.json;\n\nreturn { json: {\n  type: 'image',\n  content: path,\n  chat_id: msg.message.chat.id,\n  ...msg\n}};"
      },
      "name": "Setup Photo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4400,
        -560
      ],
      "id": "setup-photo-node"
    },
    {
      "parameters": {
        "workflowId": "n2NjfVeSxgmSE_G_w6YSA",
        "mode": "each",
        "options": {}
      },
      "name": "Execute Router",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4700,
        -700
      ],
      "id": "execute-router-node"
    },
    {
      "parameters": {
        "workflowId": "zJmvUMO9FN7ShjqeKed-S",
        "mode": "each",
        "options": {}
      },
      "name": "Process Callback",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        3400,
        -384
      ],
      "id": "f6c8ac16-c935-4354-872a-e39bba0aec60"
    },
    {
      "parameters": {
        "jsCode": "const chatMap = {\n    \"Nido-Alberto\": \"5785514136\",\n    \"Nido-Alberto-Laura\": \"-5223730192\",\n    \"Nido-Alberto-Laura-Testing\": \"-5234536185\",\n    \"Nido-Laura\": \"PLACEHOLDER\"\n};\nconst idToName = Object.fromEntries(Object.entries(chatMap).map(([k,v]) => [v, k]));\n\nconst item = $input.item.json;\nconst chatId = item.chat_id;\nconst chatName = idToName[String(chatId)] || 'Unknown';\n\nlet workflow_id = null;\nconst WORKFLOWS = {\n    WHITEBOARD_INGEST: 't3IsM1h5-xaYeegf0PpyK',\n    WHITEBOARD_REVIEW: 'gSnUtg5YnaLgjyYN2sKno',\n    TELEGRAM_CALENDAR: 'rnr5kvlbBNvVA9wXvJGAE',\n    SOCCER_EVENT: 'l-0lymHED94CrXwOsRH98',\n    MEALS_INVENTORY: 'ApXo7C4Qijyz1gEK5D30F',\n    MEALS_PLANNER: 'qFxG__hwtGSAfLK6Q83SR',\n    MEALS_TRACKER: 'YCbLT5N1oGa3LKEa6xE2j',\n    TELEGRAM_R: '_dA1MLN1DRs_rD4LkW2et',\n    HOME_ASSISTANT: 'PLACEHOLDER_HA_WORKFLOW_ID'  // Update this after creating the HA workflow\n};\n\n// Global Rule: Text is exactly \"r\" or \"R\" -> nido.telegram.r\nif (item.type === 'R') {\n    workflow_id = WORKFLOWS.TELEGRAM_R;\n}\n\n// Global Rule: Shopping -> nido.meals.inventory\nif (item.category === 'SHOPPING') {\n    workflow_id = WORKFLOWS.MEALS_INVENTORY;\n}\n\n// Global Rule: Meal Plan -> nido.meals.planner\nif (item.category === 'MEAL_PLAN') {\n    workflow_id = WORKFLOWS.MEALS_PLANNER;\n}\n\n// Global Rule: Meal Tracker -> nido.meals.tracker\nif (item.category === 'MEAL_TRACKER' || item.category === 'meal_tracker') {\n    workflow_id = WORKFLOWS.MEALS_TRACKER;\n}\n\n// Global Rule: Home Assistant\nif (item.category === 'HOME_ASSISTANT') {\n    workflow_id = WORKFLOWS.HOME_ASSISTANT;\n}\n\n// Global Rule: Image Type Event -> nido.telegram.calendar\n// Updated to check category 'CALENDAR' or similar logic if prompt changed, \n// but prompt router_photo_classification schema was not checked. Assuming it returns 'image_type' or 'category'.\n// nido.lib.router unifies to 'category'. Photo prompt likely returns category too?\n// Let's assume photo prompt returns category matching schemas.\nif (item.category === 'CALENDAR' || item.image_type === 'event') {\n    workflow_id = WORKFLOWS.TELEGRAM_CALENDAR;\n}\n\n// Global Rule: Image Type Meal Tracker\nif (item.category === 'MEAL_TRACKER' || item.image_type === 'meal_tracker') {\n    workflow_id = WORKFLOWS.MEALS_TRACKER;\n}\n\n// Rule 1: Foto + Category: whiteboard_calendar + Chat: \"Nido-Alberto\" -> nido.whiteboard.ingest\nif (chatName === 'Nido-Alberto') {\n    if (item.category === 'WHITEBOARD' || item.image_type === 'whiteboard_calendar') {\n        workflow_id = WORKFLOWS.WHITEBOARD_INGEST;\n    }\n    // Rule 2: Tipo: Callback + Chat: \"Nido-Alberto\" -> nido.whiteboard.review\n    if (item.type === 'callback') {\n        workflow_id = WORKFLOWS.WHITEBOARD_REVIEW;\n    }\n}\n\n// Rule 3: Chat \"Nido-Alberto-Laura-Testing\" rules\nif (chatName === 'Nido-Alberto-Laura-Testing') {\n    // Texto + Category: calendar -> nido.telegram.calendar\n    if (item.category === 'CALENDAR' || item.category === 'calendar') {\n        workflow_id = WORKFLOWS.TELEGRAM_CALENDAR;\n    }\n    // Callback: cal_save or cal_cancel -> nido.telegram.calendar\n    if (item.type === 'callback' && item.action && (item.action.startsWith('cal_'))) {\n        workflow_id = WORKFLOWS.TELEGRAM_CALENDAR;\n    }\n}\n\n// Global Rule: Calendar Callbacks (cal_*) always go to calendar workflow\nif (item.type === 'callback' && item.action && String(item.action).startsWith('cal_')) {\n    workflow_id = WORKFLOWS.TELEGRAM_CALENDAR;\n}\n\n// Global Rule: Soccer Callbacks (yes/no_football)\nif (item.type === 'callback' && item.action && (String(item.action) === 'yes_football' || String(item.action) === 'no_football')) {\n    workflow_id = WORKFLOWS.SOCCER_EVENT;\n}\n\nreturn { json: { workflow_id, ...item, chatName } };"
      },
      "name": "Route Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5000,
        -224
      ],
      "id": "dbe53b2c-82c2-46c0-91af-367ad28bc103"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.workflow_id ? 'found' : 'missing' }}",
        "rules": {
          "rules": [
            {
              "value2": "found"
            }
          ]
        },
        "fallbackOutput": 1
      },
      "name": "Switch Target",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        5224,
        -352
      ],
      "id": "461ff771-ae7f-4e11-838d-b5107be19906"
    },
    {
      "parameters": {
        "workflowId": "={{ $json.workflow_id }}",
        "mode": "each",
        "options": {}
      },
      "name": "Execute Target Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        5448,
        -416
      ],
      "id": "c8142d0e-2673-48ea-a38b-4029473f31d1"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=🤖 No he podido enrutar tu mensaje.\nChat: {{ $json.chatName }}\nTipo: {{ $json.type }}\nCategoría/Img: {{ $json.category || $json.image_type || 'N/A' }}",
        "additionalFields": {}
      },
      "name": "Reply Unknown",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        5448,
        -224
      ],
      "id": "dc5a95ca-aec0-4148-9472-7c20c189f28d",
      "webhookId": "reply-unknown-webhook",
      "credentials": {
        "telegramApi": {
          "id": "JLG33gMQcdi4JvQq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message ? $json.message.chat.id : $json.callback_query.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2704,
        -320
      ],
      "id": "bff15221-92f7-4db9-9668-849da7fc432b",
      "name": "Typing",
      "webhookId": "949906f6-4925-4058-a705-0071ae91fa64",
      "credentials": {
        "telegramApi": {
          "id": "JLG33gMQcdi4JvQq",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identify Type": {
      "main": [
        [
          {
            "node": "Switch Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Type": {
      "main": [
        [
          {
            "node": "Setup Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Photo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Text": {
      "main": [
        [
          {
            "node": "Execute Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Photo": {
      "main": [
        [
          {
            "node": "Set Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Path": {
      "main": [
        [
          {
            "node": "Create Folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create Folder": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Save to Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Disk": {
      "main": [
        [
          {
            "node": "Setup Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Photo": {
      "main": [
        [
          {
            "node": "Execute Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Router": {
      "main": [
        [
          {
            "node": "Route Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Callback": {
      "main": [
        [
          {
            "node": "Route Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Logic": {
      "main": [
        [
          {
            "node": "Switch Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Target": {
      "main": [
        [
          {
            "node": "Execute Target Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Unknown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Typing": {
      "main": [
        [
          {
            "node": "Identify Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true
}