workflows/nido.router.telegram.photo.json
{
  "name": "nido.router.telegram.photo",
  "nodes": [
    {
      "parameters": {},
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        48
      ],
      "id": "ea53ff22-566d-4f9a-a2c6-281f353a83b8"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[$json.message.photo.length - 1].file_id }}",
        "additionalFields": {}
      },
      "name": "Get Photo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -80,
        48
      ],
      "id": "22b4085b-ae42-48dc-a095-0c82cc1cdd8c",
      "webhookId": "bdacbc84-4c07-4fdd-873f-3e173ddf144d",
      "credentials": {
        "telegramApi": {
          "id": "JLG33gMQcdi4JvQq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "folder",
              "value": "=/storage/inbox_photos/{{ new Date().getFullYear() }}/{{ (new Date().getMonth() + 1).toString().padStart(2, '0') }}/{{ new Date().getDate().toString().padStart(2, '0') }}"
            },
            {
              "name": "filename",
              "value": "={{ $json.result.file_path.split('/').pop() }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Path",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        144,
        48
      ],
      "id": "86b4b126-cb4a-4d95-82a2-1e68c8e1005d"
    },
    {
      "parameters": {
        "command": "=mkdir -p {{ $json.folder }}"
      },
      "name": "Create Folder",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        384,
        -96
      ],
      "id": "ff9f134e-b9a4-4f0a-9cf4-86612ca31810"
    },
    {
      "parameters": {
        "mode": "mergeByIndex",
        "join": "outer"
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        576,
        112
      ],
      "id": "75813296-bb59-4adc-8b21-c3bd4d3e8e8c"
    },
    {
      "parameters": {
        "fileName": "={{ $node[\"Set Path\"].json.folder }}/{{ $node[\"Set Path\"].json.filename }}",
        "options": {}
      },
      "name": "Save to Disk",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        816,
        48
      ],
      "id": "80822fdd-7942-4368-a44b-ace8c59652cc"
    },
    {
      "parameters": {
        "jsCode": "const prompt_id = 'router_photo_classification';\nconst options = { model: 'models/gemini-3-flash-preview' };\n\nreturn $input.all().map(item => {\n  const json = item.json;\n  // Construct local path from folder and filename\n  // Assuming folder and filename are present from upstream 'Set Path' -> 'Merge'\n  const input_path = `${json.folder}/${json.filename}`;\n  \n  return {\n    json: {\n      prompt_id,\n      options,\n      input: {\n          input_type: 'IMAGE',\n          input_path\n      }\n    }\n  };\n});"
      },
      "name": "Prepare LLM Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        48
      ],
      "id": "38a2f2ed-f01a-4462-a97a-2262e523daf6"
    },
    {
      "parameters": {
        "workflowId": "cIdjAXxgI1Z-LurEg16oO",
        "mode": "each",
        "options": {}
      },
      "name": "Classify Image",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1264,
        48
      ],
      "id": "b73b12af-566b-47de-9135-d5e9676d4d9e"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// The LLM adapter already returns parsed JSON with fields:\n// classification, confidence, reasoning, _meta\nconst json = $input.item.json;\nconst trigger = $('Execute Workflow Trigger').item.json.message;\n\n// Map to the expected format for downstream nodes\n// Preserve input_path from _meta for downstream workflows\nreturn {\n  json: {\n    image_type: json.image_type,\n    confidence: json.confidence,\n    reason: json.reason,\n    image_path: json._meta?.input_path || null,\n    source: json._meta.source,\n    _meta: json._meta,\n    chat_id: trigger ? trigger.chat.id : null,\n    message_id: trigger ? trigger.message_id : null\n  }\n};\n"
      },
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        48
      ],
      "id": "526ae17f-b72a-45c6-b01b-f42dd9137d03"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Photo": {
      "main": [
        [
          {
            "node": "Set Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Path": {
      "main": [
        [
          {
            "node": "Create Folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create Folder": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Save to Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Disk": {
      "main": [
        [
          {
            "node": "Prepare LLM Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LLM Input": {
      "main": [
        [
          {
            "node": "Classify Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Image": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8d69a667-d0b6-4770-bfd0-5f871eeaf557",
  "meta": {
    "instanceId": "e1f8529dafc1c7b24188afd104b1a8e8824324405683593c80fc8bc56ba17881"
  },
  "id": "i27XoV9nJmU0TkfZ39Jk0",
  "tags": []
}