workflows/nido.home_assistant.command.json
{
    "name": "nido.home_assistant.command",
    "nodes": [
        {
            "parameters": {},
            "name": "Execute Workflow Trigger",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1,
            "position": [
                3232,
                -704
            ],
            "id": "0f77af18-25d3-42c0-9ad4-c771e9093789"
        },
        {
            "parameters": {
                "command": "if [ \"{{ $json.force_refresh }}\" == \"true\" ]; then\n  echo \"missing\"\nelif [ -f /data/infra/ha_entities_cache.json ]; then\n  if ! grep -q \"^{\" /data/infra/ha_entities_cache.json; then\n    echo \"missing\"\n  else\n    find /data/infra/ha_entities_cache.json -mmin +1440 -exec echo \"expired\" \\;\n  fi\nelse\n  echo \"missing\"\nfi"
            },
            "name": "Check Cache Status",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                3456,
                -704
            ],
            "id": "9b589089-9c70-43ef-9f1f-46c974a19d1f"
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.stdout.trim() }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "missing"
                        },
                        {
                            "value2": "expired"
                        }
                    ]
                },
                "fallbackOutput": 1
            },
            "name": "Switch Cache",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                3680,
                -704
            ],
            "id": "40d685dc-23d7-4428-bbcf-516244ed5bf9"
        },
        {
            "parameters": {
                "resource": "state",
                "operation": "getAll"
            },
            "name": "Get HA States",
            "type": "n8n-nodes-base.homeAssistant",
            "typeVersion": 1,
            "position": [
                3888,
                -800
            ],
            "id": "d3cd01d9-e248-4b7c-b68c-dc27eec8f20c",
            "credentials": {
                "homeAssistantApi": {
                    "id": "I3MbDcoMCh6VZ8R1",
                    "name": "Home Assistant account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Filter and simplify entities\nconst allStates = $input.all().map(i => i.json);\nconst domains = [\n  'light', 'switch', 'climate', 'media_player', 'cover', 'lock', \n  'script', 'scene', 'input_boolean', 'update', 'sensor', \n  'binary_sensor', 'button', 'input_button'\n];\n\nconst entities = allStates\n  .filter(s => domains.includes(s.entity_id.split('.')[0]))\n  .map(s => `${s.entity_id} (${s.attributes.friendly_name || ''})`);\n\nconst jsonString = JSON.stringify({ entities });\nconst binaryData = Buffer.from(jsonString).toString('base64');\n\nreturn {\n  json: { entities },\n  binary: {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json',\n      fileName: 'ha_entities_cache.json'\n    }\n  }\n};"
            },
            "name": "Filter Entities",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                4112,
                -800
            ],
            "id": "83eee35e-ea1c-4d3d-ac9e-744dc750d3b0"
        },
        {
            "parameters": {
                "filePath": "/data/infra/ha_entities_cache.json"
            },
            "name": "Read Cache",
            "type": "n8n-nodes-base.readBinaryFile",
            "typeVersion": 1,
            "position": [
                3888,
                -544
            ],
            "id": "24060435-41ae-457d-a02d-d956505147a3"
        },
        {
            "parameters": {
                "jsCode": "const binaryData = $input.item.binary.data;\nlet jsonString;\n\nif (binaryData.data.trim().startsWith('{')) {\n  // It's likely raw text\n  jsonString = binaryData.data;\n} else {\n  // Try base64 decoding\n  jsonString = Buffer.from(binaryData.data, 'base64').toString('utf-8');\n}\n\nreturn { json: JSON.parse(jsonString) };"
            },
            "name": "Parse Cache",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                4112,
                -544
            ],
            "id": "c7ed7c04-9240-484a-adc3-8046bf8b57a9"
        },
        {
            "parameters": {
                "fileName": "/data/infra/ha_entities_cache.json",
                "options": {}
            },
            "name": "Write Cache",
            "type": "n8n-nodes-base.writeBinaryFile",
            "typeVersion": 1,
            "position": [
                4336,
                -800
            ],
            "id": "df9103a2-2a56-4510-8a5b-ff337c368235"
        },
        {
            "parameters": {
                "jsCode": "const entities = $input.item.json.entities;\nconst prompt_id = 'ha_command_interpreter';\nconst trigger = $('Execute Workflow Trigger').item.json;\nconst user_input = trigger.content || trigger.text || trigger.message.text;\n\nconst inputData = {\n    request: user_input,\n    available_entities: entities\n};\n\nreturn {\n  json: {\n    prompt_id,\n    options: {},\n    input: {\n        input_type: 'TEXT',\n        input_text: JSON.stringify(inputData),\n        ...inputData\n    }\n  }\n};"
            },
            "name": "Prepare LLM",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                4576,
                -704
            ],
            "id": "40857879-91ea-48c8-84bc-c29163fb1a23"
        },
        {
            "parameters": {
                "workflowId": "cIdjAXxgI1Z-LurEg16oO",
                "mode": "each",
                "options": {}
            },
            "name": "Interpret Command",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1,
            "position": [
                4800,
                -704
            ],
            "id": "808f27de-12b3-45ab-9c1c-62c5976a1125"
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "const result = $input.item.json;\nreturn { json: result }; "
            },
            "name": "Parse Interpretation",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                5008,
                -704
            ],
            "id": "4adc0c61-64b0-4fc7-b5ee-aef0d658b2c7"
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.action }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "call_service"
                        },
                        {
                            "value2": "fallback",
                            "output": 1
                        }
                    ]
                }
            },
            "name": "Switch Action",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                5232,
                -704
            ],
            "id": "9f6e073f-8aa5-45bd-a39e-f7863a5db9e9"
        },
        {
            "parameters": {
                "resource": "service"
            },
            "name": "Execute HA Service",
            "type": "n8n-nodes-base.homeAssistant",
            "typeVersion": 1,
            "position": [
                5472,
                -800
            ],
            "id": "09aa7b78-b10f-496e-b765-06af62732e6f",
            "credentials": {
                "homeAssistantApi": {
                    "id": "I3MbDcoMCh6VZ8R1",
                    "name": "Home Assistant account"
                }
            }
        },
        {
            "parameters": {},
            "name": "HA Assist Fallback",
            "type": "n8n-nodes-base.homeAssistant",
            "typeVersion": 1,
            "position": [
                5472,
                -544
            ],
            "id": "61c7fe16-6520-468b-8133-ff52b6ebedfe",
            "credentials": {
                "homeAssistantApi": {
                    "id": "I3MbDcoMCh6VZ8R1",
                    "name": "Home Assistant account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "return { json: { \n  result_text: $input.item.json.speech ? $input.item.json.speech.plain.speech : \"Comando ejecutado.\",\n  ha_response: $input.item.json\n} };"
            },
            "name": "Format Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                5728,
                -704
            ],
            "id": "300b2648-8c15-4113-ac54-6bcfb0e468f9"
        }
    ],
    "pinData": {},
    "connections": {
        "Execute Workflow Trigger": {
            "main": [
                [
                    {
                        "node": "Check Cache Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Cache Status": {
            "main": [
                [
                    {
                        "node": "Switch Cache",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch Cache": {
            "main": [
                [
                    {
                        "node": "Get HA States",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Read Cache",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get HA States": {
            "main": [
                [
                    {
                        "node": "Filter Entities",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filter Entities": {
            "main": [
                [
                    {
                        "node": "Write Cache",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Write Cache": {
            "main": [
                [
                    {
                        "node": "Prepare LLM",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Cache": {
            "main": [
                [
                    {
                        "node": "Parse Cache",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Cache": {
            "main": [
                [
                    {
                        "node": "Prepare LLM",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare LLM": {
            "main": [
                [
                    {
                        "node": "Interpret Command",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Interpret Command": {
            "main": [
                [
                    {
                        "node": "Parse Interpretation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Interpretation": {
            "main": [
                [
                    {
                        "node": "Switch Action",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch Action": {
            "main": [
                [
                    {
                        "node": "Execute HA Service",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "HA Assist Fallback",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute HA Service": {
            "main": [
                [
                    {
                        "node": "Format Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "HA Assist Fallback": {
            "main": [
                [
                    {
                        "node": "Format Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "availableInMCP": false
    },
    "versionId": "e1693601-b244-40eb-a347-2d1217150147",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "e1f8529dafc1c7b24188afd104b1a8e8824324405683593c80fc8bc56ba17881"
    },
    "id": "wniItdCFjqMEss-D7LST6",
    "tags": []
}