workflows/nido.router.telegram.text.json
{
  "name": "nido.router.telegram.text",
  "nodes": [
    {
      "parameters": {},
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        1152,
        96
      ],
      "id": "e908a96c-782c-4eb0-88ec-3d49937ede16"
    },
    {
      "parameters": {
        "jsCode": "const prompt_id = 'router_text_classification';\nconst options = { model: 'models/gemini-3-flash-preview' };\n\nreturn $input.all().map(item => {\n  const json = item.json;\n  const message_text = json.message.text || '';\n  \n  return {\n    json: {\n      prompt_id,\n      options,\n      input: {\n          input_type: 'TEXT',\n          input_text: message_text\n      }\n    }\n  };\n});"
      },
      "name": "Prepare LLM Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        96
      ],
      "id": "29ca6f38-a5e0-4ee0-8262-811af627bdd6"
    },
    {
      "parameters": {
        "workflowId": "RNCzRY2bi-VzDmnZiq27S",
        "mode": "each",
        "options": {}
      },
      "name": "Classify Text",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1552,
        96
      ],
      "id": "ec7ca623-5fed-4eba-962b-7f1215ca8648"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const json = $input.item.json;\n\nreturn {\n  json: {\n    text: json._meta.input_text,\n    category: json.category,\n    source: json._meta.source,\n    confidence: json.confidence,\n    reasoning: json.reasoning,\n    chat_id: $('Execute Workflow Trigger').item.json.message.chat.id\n  }\n};"
      },
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        96
      ],
      "id": "e62a32f6-4beb-42b5-b033-a772e6b1326e"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.category }}",
        "rules": {
          "rules": [
            {
              "value2": "task"
            },
            {
              "value2": "calendar",
              "output": 1
            },
            {
              "value2": "chat",
              "output": 2
            },
            {
              "value2": "other",
              "output": 3
            }
          ]
        },
        "fallbackOutput": 3
      },
      "name": "Switch Category",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1952,
        64
      ],
      "id": "1b18df52-a6ee-4080-a4c3-58802baeaf18"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=🤖 *Clasificación de Texto*\n\n**Categoría**: {{ $json.category }}\n**Confianza**: {{ $json.confidence * 100 }}%\n**Razón**: {{ $json.reasoning }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Reply Debug",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2336,
        96
      ],
      "id": "bd33ca8d-5fad-4be8-9c65-c38712d3d949",
      "webhookId": "9fde48fc-878e-4f42-987a-5da9d309c586",
      "credentials": {
        "telegramApi": {
          "id": "JLG33gMQcdi4JvQq",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prepare LLM Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LLM Input": {
      "main": [
        [
          {
            "node": "Classify Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Text": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Switch Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Category": {
      "main": [
        [
          {
            "node": "Reply Debug",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Debug",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Debug",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Debug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "54cecc2b-6323-4ea5-b938-04f1c855b960",
  "meta": {
    "instanceId": "e1f8529dafc1c7b24188afd104b1a8e8824324405683593c80fc8bc56ba17881"
  },
  "id": "9XBuTBG2fHkmq2PH52Esi",
  "tags": []
}