workflows/nido.api.pantry.finished.json
{
    "name": "nido.api.pantry.finished",
    "nodes": [
        {
            "parameters": {
                "path": "pantry/finished",
                "responseMode": "lastNode",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                460
            ],
            "webhookId": "pantry-finished-webhook",
            "id": "webhook-node-uuid"
        },
        {
            "parameters": {
                "jsCode": "const fs = require('fs');\n\n// 1. Read Catalog\nlet catalog = [];\ntry {\n  const catalogPath = '/data/inventory/food_stock_catalog.json';\n  if (fs.existsSync(catalogPath)) {\n    catalog = JSON.parse(fs.readFileSync(catalogPath, 'utf8'));\n    // Handle if it's wrapped in products or just array\n    if (catalog.products) catalog = catalog.products;\n  }\n} catch (e) {\n  throw new Error('Failed to read catalog: ' + e.message);\n}\n\n// 2. Process Input\nconst inputData = $input.first().json;\n// Workflow input expects \"product\" field\nconst productInput = inputData.product || '';\n\n// Construct Context\nconst catalogContext = JSON.stringify(catalog, null, 2);\n\nreturn {\n  json: {\n    prompt_id: 'pantry.product_matcher',\n    input: {\n        catalog: catalogContext,\n        input: productInput\n    },\n    catalog: catalog\n  }\n};"
            },
            "name": "Prepare Input",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                680,
                460
            ],
            "id": "prepare-input-node"
        },
        {
            "parameters": {
                "workflowId": "cIdjAXxgI1Z-LurEg16oO"
            },
            "name": "Identify Product",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1,
            "position": [
                900,
                460
            ],
            "id": "call-llm-node"
        },
        {
            "parameters": {
                "jsCode": "const llmResult = $input.first().json;\nconst catalog = $('Prepare Input').first().json.catalog;\n\nif (!llmResult.product_id) {\n    return [{ json: { success: false, message: 'Could not identify product.' } }];\n}\n\nconst matchedProduct = catalog.find(p => p.id === llmResult.product_id);\n\nif (!matchedProduct || !matchedProduct.entity_id) {\n    return [{ json: { success: false, message: `Product identified (${llmResult.product_name}) but checking configuration failed.` } }];\n}\n\nreturn [{\n    json: {\n        success: true,\n        entity_id: matchedProduct.entity_id,\n        product_name: matchedProduct.display_name,\n        message: `Marked ${matchedProduct.display_name} as finished.`\n    }\n}];"
            },
            "name": "Process Match",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1120,
                460
            ],
            "id": "process-match-node"
        },
        {
            "parameters": {
                "operation": "upsert",
                "entityId": "={{ $json.entity_id }}",
                "resource": "state",
                "state": "off"
            },
            "name": "Update Home Assistant",
            "type": "n8n-nodes-base.homeAssistant",
            "typeVersion": 1,
            "position": [
                1340,
                460
            ],
            "id": "ha-set-state",
            "credentials": {
                "homeAssistantApi": {
                    "id": "I3MbDcoMCh6VZ8R1",
                    "name": "Home Assistant account"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "name": "Respond",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1560,
                460
            ],
            "id": "respond-node"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Prepare Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Input": {
            "main": [
                [
                    {
                        "node": "Identify Product",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Identify Product": {
            "main": [
                [
                    {
                        "node": "Process Match",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Match": {
            "main": [
                [
                    {
                        "node": "Update Home Assistant",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Home Assistant": {
            "main": [
                [
                    {
                        "node": "Respond",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}