workflows/nido.telegram.calendar.json
{
    "name": "nido.telegram.calendar",
    "nodes": [
        {
            "parameters": {},
            "name": "Execute Workflow Trigger",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "id": "4953de7e-a48e-4f1f-ac46-db102ec62030"
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "const json = $input.item.json;\n\n// Check if this is a callback or a new text message\nconst isCallback = json.type === 'callback' || json.action?.startsWith('cal_');\n\nreturn {\n  json: {\n    ...json,\n    flow_type: isCallback ? 'callback' : 'new_event'\n  }\n};"
            },
            "name": "Detect Flow Type",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                224,
                0
            ],
            "id": "b1b2c3d4-e5f6-7890-abcd-000000000001"
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.flow_type }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "new_event"
                        },
                        {
                            "value2": "callback",
                            "output": 1
                        }
                    ]
                }
            },
            "name": "Switch Flow",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                448,
                0
            ],
            "id": "b1b2c3d4-e5f6-7890-abcd-000000000002"
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "const json = $input.item.json;\nconst text = json.text || '';\nconst chatId = json.chat_id;\n\n// Get current date for context (Madrid time)\nconst now = new Date();\nconst formatter = new Intl.DateTimeFormat('es-ES', {\n  timeZone: 'Europe/Madrid',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit'\n});\nconst parts = formatter.formatToParts(now);\nconst currentDate = `${parts.find(p => p.type === 'year').value}-${parts.find(p => p.type === 'month').value}-${parts.find(p => p.type === 'day').value}`;\n\nreturn {\n  json: {\n    prompt_id: 'calendar.event_parser',\n    options: {},\n    chat_id: chatId,\n    input: {\n      input_type: 'TEXT',\n      input_text: text,\n      current_date: currentDate\n    },\n    _original: { text, chatId }\n  }\n};"
            },
            "name": "Prepare Parse Input",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                672,
                -160
            ],
            "id": "a1b2c3d4-e5f6-7890-abcd-111111111111"
        },
        {
            "parameters": {
                "workflowId": "cIdjAXxgI1Z-LurEg16oO",
                "mode": "each",
                "options": {}
            },
            "name": "Parse Event",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1,
            "position": [
                896,
                -160
            ],
            "id": "a1b2c3d4-e5f6-7890-abcd-222222222222"
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "const json = $input.item.json;\n\n// Get parsed event data\nconst date = json.date;\nconst time = json.time || null;\nconst description = json.description;\nconst confidence = json.confidence || 0;\n\n// Validate required fields\nif (!date || !description || confidence < 0.5) {\n  return { json: { valid: false, error: 'No se pudo extraer la información del evento', date, description, confidence } };\n}\n\n// Calculate date range for calendar query (whole day in Madrid)\n// We construct a date string that represents midnight in Madrid for that day\nconst getISODate = (d) => d.toISOString();\n\nconst getMadridDate = (dateStr, timeStr) => {\n  // Create a date object that corresponds to the given time in Madrid\n  // format: YYYY-MM-DDTHH:mm:ss in Madrid\n  // We use the trick of parsing it as if it were a local string in that timezone\n  const d = new Date(dateStr + 'T' + timeStr + '+01:00'); // Tentative offset, but effectively we want the absolute time\n  // Better approach using Intl to force timezone interpretation\n  // Actually easier: Parse the target date parts\n  const [y, m, day] = dateStr.split('-').map(Number);\n  \n  // Create a UTC date that we will shift\n  const utcDate = new Date(Date.UTC(y, m - 1, day, 0, 0, 0));\n  \n  // Find offset for that date in Madrid\n  const madDateStr = new Intl.DateTimeFormat('en-US', {\n    timeZone: 'Europe/Madrid',\n    year: 'numeric', month: '2-digit', day: '2-digit',\n    hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false\n  }).format(utcDate);\n  \n  // This is complicated without library. Let's use a simpler heuristic:\n  // Just request the day from 00:00 to 23:59:59 but formatted with timezone offset.\n  // Or even simpler: Calculate the ISO string for 00:00 Madrid and 23:59 Madrid.\n  \n  // New approach: Use the string directly for the calendar API if it accepts it with offset\n  // But Google Calendar API expects ISO UTC dates.\n  \n  // Let's iterate: Create a date, check its formatting in Madrid, adjust until it matches.\n  \n  // Valid Approach: \n  // 1. Construct string 'YYYY-MM-DDT00:00:00'\n  // 2. Find what UTC time corresponds to that string in Europe/Madrid\n  \n  const targetTime = new Date(dateStr + 'T00:00:00Z'); // treat as UTC first\n  // See what time this is in Madrid\n  const fmt = new Intl.DateTimeFormat('en-US', {\n    timeZone: 'Europe/Madrid',\n    year: 'numeric', month: 'numeric', day: 'numeric', hour: 'numeric', minute: 'numeric', second: 'numeric', hour12: false\n  });\n  \n  // Actually, we can just use the fact that Madrid is +1 or +2.\n  // Let's implement robust offset detection for the specific date.\n  const getOffset = (d) => {\n    const str = d.toLocaleString('en-US', { timeZone: 'Europe/Madrid', timeZoneName: 'short' });\n    // Parsing offset from 'GMT+1' or 'CET' is annoying. \n    \n    // Alternative: Compare Date.UTC values\n    // 1. Take a timestamp\n    // 2. Format it to parts in UTC\n    // 3. Format it to parts in Madrid\n    // 4. Calc diff\n    \n    // Let's try the direct constructor approach which is cleaner if supported, but it's not standard.\n  };\n};\n\n// Simplified robust approach for Madrid (CET/CEST)\n// We know the date YYYY-MM-DD. We want 00:00:00 Madrid time in UTC.\nconst [y, m, d] = date.split('-').map(Number);\n\n// Try 00:00 UTC\nconst utc00 = new Date(Date.UTC(y, m-1, d, 0, 0, 0));\n\n// Check what time it is in Madrid\nconst formatter = new Intl.DateTimeFormat('en-US', {\n  timeZone: 'Europe/Madrid',\n  hour: 'numeric', \n  hour12: false\n});\n\n// If it's 1 in Madrid, then Madrid is +1, so 00:00 Madrid is 23:00 UTC previous day.\n// If it's 2 in Madrid, then Madrid is +2, so 00:00 Madrid is 22:00 UTC previous day.\nconst hourInMadrid = parseInt(formatter.format(utc00));\n\n// Calculate offset (approximate but work for midnight check)\n// If UTC is 00:00 and Madrid is 01:00, offset is +1.\n// Wait, formatter.format(utc00) gives the hour at that instant.\n// If UTC 00:00 is Madrid 01:00, then Madrid 00:00 is UTC 23:00.\nlet offset = hourInMadrid === 24 ? 0 : hourInMadrid; // 24 shouldn't happen but 0 might\n// Handle the case where 00:00 UTC is actually late previous day in timezone (e.g. US), but Madrid is ahead so it will be same day or next day.\n// Madrid is always ahead of UTC. So UTC 00:00 is Madrid 01:00 or 02:00.\n// So offset is hourInMadrid.\n\n// Start of day in Madrid (in UTC)\nconst startTimestamp = utc00.getTime() - (offset * 3600 * 1000);\nconst endTimestamp = startTimestamp + (24 * 3600 * 1000) - 1; // End of day\n\nreturn {\n  json: {\n    valid: true,\n    date,\n    time,\n    description,\n    confidence,\n    timeMin: new Date(startTimestamp).toISOString(),\n    timeMax: new Date(endTimestamp).toISOString(),\n    chatId: $node['Execute Workflow Trigger'].json.chat_id\n  }\n};"
            },
            "name": "Validate & Prepare",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1120,
                -160
            ],
            "id": "a1b2c3d4-e5f6-7890-abcd-333333333333"
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.valid }}",
                            "value2": true
                        }
                    ]
                }
            },
            "name": "Valid?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1344,
                -160
            ],
            "id": "a1b2c3d4-e5f6-7890-abcd-444444444444"
        },
        {
            "parameters": {
                "chatId": "={{ $node['Execute Workflow Trigger'].json.chat_id }}",
                "text": "=❌ {{ $json.error }}",
                "additionalFields": {}
            },
            "name": "Error Message",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                1568,
                0
            ],
            "id": "a1b2c3d4-e5f6-7890-abcd-555555555555",
            "credentials": {
                "telegramApi": {
                    "id": "JLG33gMQcdi4JvQq",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "operation": "getAll",
                "calendar": {
                    "__rl": true,
                    "mode": "list",
                    "value": "primary"
                },
                "returnAll": true,
                "options": {
                    "timeMin": "={{ $json.timeMin }}",
                    "timeMax": "={{ $json.timeMax }}",
                    "singleEvents": true
                }
            },
            "name": "Get Alberto Events",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1,
            "position": [
                1568,
                -320
            ],
            "id": "a1b2c3d4-e5f6-7890-abcd-666666666666",
            "alwaysOutputData": true,
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "FrzV2bMzBnHfLNY2",
                    "name": "Google Calendar account"
                }
            }
        },
        {
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "const events = $input.all().map(i => i.json);\n\n// Get original data from Validate node\nconst validateData = $node['Validate & Prepare'].json;\n\nreturn {\n  json: {\n    ...validateData,\n    albertoEvents: events.filter(e => e.id).map(e => ({\n      summary: e.summary || 'Sin título',\n      start: e.start?.dateTime || e.start?.date,\n      end: e.end?.dateTime || e.end?.date\n    }))\n  }\n};"
            },
            "name": "Collect Alberto Events",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1792,
                -320
            ],
            "id": "a1b2c3d4-e5f6-7890-abcd-777777777777"
        },
        {
            "parameters": {
                "operation": "getAll",
                "calendar": {
                    "__rl": true,
                    "mode": "list",
                    "value": "albertolau@pozoesteban.es"
                },
                "returnAll": true,
                "options": {
                    "timeMin": "={{ $json.timeMin }}",
                    "timeMax": "={{ $json.timeMax }}",
                    "singleEvents": true
                }
            },
            "name": "Get Shared Events",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1,
            "position": [
                2016,
                -320
            ],
            "id": "a1b2c3d4-e5f6-7890-abcd-888888888888",
            "alwaysOutputData": true,
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "bB5cLTUIh2iApkRb",
                    "name": "Google Calendar account 2"
                }
            }
        },
        {
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "const sharedEvents = $input.all().map(i => i.json).filter(e => e.id);\nconst prevData = $node['Collect Alberto Events'].json;\n\n// Format all events for summary\nconst allEvents = [\n  ...prevData.albertoEvents,\n  ...sharedEvents.map(e => ({\n    summary: e.summary || 'Sin título',\n    start: e.start?.dateTime || e.start?.date,\n    end: e.end?.dateTime || e.end?.date\n  }))\n];\n\n// Format date nicely\nconst dateObj = new Date(prevData.date + 'T12:00:00');\nconst dayName = dateObj.toLocaleDateString('es-ES', { weekday: 'long', day: 'numeric', month: 'long' });\n\n// Build summary manually\nlet summary = `📅 *${dayName.charAt(0).toUpperCase() + dayName.slice(1)}*\\n\\n`;\n\nif (allEvents.length === 0) {\n  summary += '✨ No tienes eventos ese día.\\n\\n';\n} else {\n  summary += '📋 Eventos existentes:\\n';\n  allEvents.forEach(e => {\n    const time = e.start ? (e.start.includes('T') ? new Date(e.start).toLocaleTimeString('es-ES', {hour: '2-digit', minute: '2-digit', timeZone: 'Europe/Madrid'}) : 'Todo el día') : '';\n    summary += `• ${time} - ${e.summary}\\n`;\n  });\n  summary += '\\n';\n}\n\nconst timeStr = prevData.time ? ` a las ${prevData.time}` : '';\nsummary += `➕ *Nuevo evento:*\\n${prevData.description}${timeStr}\\n\\n¿Guardar en el calendario?`;\n\nreturn {\n  json: {\n    ...prevData,\n    summary,\n    eventCount: allEvents.length\n  }\n};"
            },
            "name": "Build Summary",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                2240,
                -320
            ],
            "id": "a1b2c3d4-e5f6-7890-abcd-999999999999"
        },
        {
            "parameters": {
                "chatId": "={{ $json.chatId }}",
                "text": "={{ $json.summary }}",
                "replyMarkup": "inlineKeyboard",
                "inlineKeyboard": {
                    "rows": [
                        {
                            "row": {
                                "buttons": [
                                    {
                                        "text": "✅ Guardar",
                                        "additionalFields": {
                                            "callback_data": "=cal_save|{{ $json.date }}|{{ $json.time || 'allday' }}|{{ $json.description.substring(0, 40) }}"
                                        }
                                    },
                                    {
                                        "text": "❌ Cancelar",
                                        "additionalFields": {
                                            "callback_data": "cal_cancel"
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                "additionalFields": {
                    "parse_mode": "Markdown"
                }
            },
            "name": "Send Confirmation",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                2464,
                -320
            ],
            "id": "a1b2c3d4-e5f6-7890-abcd-aaaaaaaaaaaa",
            "credentials": {
                "telegramApi": {
                    "id": "JLG33gMQcdi4JvQq",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "const json = $input.item.json;\n\n// Parse callback data: cal_save|date|time|description or cal_cancel\nconst action = json.action;\nconst rawData = json.raw_data || '';\nconst parts = rawData.split('|');\n\nif (action === 'cal_cancel') {\n  return { json: { action: 'cancel', chatId: json.chat_id } };\n}\n\nif (action === 'cal_save' && parts.length >= 4) {\n  const date = parts[1];\n  const time = parts[2] === 'allday' ? null : parts[2];\n  const description = parts.slice(3).join('|'); // In case description had pipes\n  \n  return {\n    json: {\n      action: 'save',\n      date,\n      time,\n      description,\n      chatId: json.chat_id\n    }\n  };\n}\n\nreturn { json: { action: 'unknown', chatId: json.chat_id } };"
            },
            "name": "Parse Callback",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                672,
                160
            ],
            "id": "b1b2c3d4-e5f6-7890-abcd-000000000003"
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.action }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "save"
                        },
                        {
                            "value2": "cancel",
                            "output": 1
                        }
                    ]
                },
                "fallbackOutput": 2
            },
            "name": "Switch Action",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                896,
                160
            ],
            "id": "b1b2c3d4-e5f6-7890-abcd-000000000004"
        },
        {
            "parameters": {
                "calendar": {
                    "__rl": true,
                    "mode": "list",
                    "value": "albertolau@pozoesteban.es"
                },
                "start": "={{ $json.time ? $json.date + 'T' + $json.time + ':00' : $json.date }}",
                "end": "={{ $json.time ? $json.date + 'T' + $json.time.split(':').map((v,i) => i===0 ? String(parseInt(v)+1).padStart(2,'0') : v).join(':') + ':00' : $json.date }}",
                "additionalFields": {
                    "allday": "={{ $json.time ? 'no' : 'yes' }}",
                    "summary": "={{ $json.description }}"
                }
            },
            "name": "Add to Calendar",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1,
            "position": [
                1120,
                64
            ],
            "id": "b1b2c3d4-e5f6-7890-abcd-000000000005",
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "bB5cLTUIh2iApkRb",
                    "name": "Google Calendar account 2"
                }
            }
        },
        {
            "parameters": {
                "chatId": "={{ $node['Parse Callback'].json.chatId }}",
                "text": "=✅ Evento guardado:\n{{ $node['Parse Callback'].json.description }}\n📅 {{ $node['Parse Callback'].json.date }}{{ $node['Parse Callback'].json.time ? ' a las ' + $node['Parse Callback'].json.time : '' }}",
                "additionalFields": {}
            },
            "name": "Confirm Saved",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                1344,
                64
            ],
            "id": "b1b2c3d4-e5f6-7890-abcd-000000000006",
            "credentials": {
                "telegramApi": {
                    "id": "JLG33gMQcdi4JvQq",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "chatId": "={{ $json.chatId }}",
                "text": "❌ Evento cancelado.",
                "additionalFields": {}
            },
            "name": "Confirm Cancel",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                1120,
                224
            ],
            "id": "b1b2c3d4-e5f6-7890-abcd-000000000007",
            "credentials": {
                "telegramApi": {
                    "id": "JLG33gMQcdi4JvQq",
                    "name": "Telegram account"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "Execute Workflow Trigger": {
            "main": [
                [
                    {
                        "node": "Detect Flow Type",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Detect Flow Type": {
            "main": [
                [
                    {
                        "node": "Switch Flow",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch Flow": {
            "main": [
                [
                    {
                        "node": "Prepare Parse Input",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Parse Callback",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Parse Input": {
            "main": [
                [
                    {
                        "node": "Parse Event",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Event": {
            "main": [
                [
                    {
                        "node": "Validate & Prepare",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Validate & Prepare": {
            "main": [
                [
                    {
                        "node": "Valid?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Valid?": {
            "main": [
                [
                    {
                        "node": "Get Alberto Events",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Error Message",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Alberto Events": {
            "main": [
                [
                    {
                        "node": "Collect Alberto Events",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Collect Alberto Events": {
            "main": [
                [
                    {
                        "node": "Get Shared Events",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Shared Events": {
            "main": [
                [
                    {
                        "node": "Build Summary",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Build Summary": {
            "main": [
                [
                    {
                        "node": "Send Confirmation",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Callback": {
            "main": [
                [
                    {
                        "node": "Switch Action",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch Action": {
            "main": [
                [
                    {
                        "node": "Add to Calendar",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Confirm Cancel",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Add to Calendar": {
            "main": [
                [
                    {
                        "node": "Confirm Saved",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1",
        "availableInMCP": false
    },
    "versionId": "3eb55415-959d-4afe-8bfe-5e941677bb92",
    "meta": {
        "instanceId": "e1f8529dafc1c7b24188afd104b1a8e8824324405683593c80fc8bc56ba17881"
    },
    "id": "rnr5kvlbBNvVA9wXvJGAE",
    "tags": []
}