workflows/nido.whiteboard.ingest.json
{
    "name": "nido.whiteboard.ingest",
    "nodes": [
        {
            "parameters": {},
            "name": "Execute Workflow Trigger",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Prepare input for LLM Adapter\nconst json = $input.item.json;\n\nreturn {\n  json: {\n    prompt_id: 'whiteboard_ocr',\n    input: {\n      input_type: 'IMAGE',\n      input_path: json.image_path\n    },\n    options: {\n      model: 'models/gemini-3-flash-preview'\n    }\n  }\n};"
            },
            "name": "Prepare LLM Input",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "workflowId": "RNCzRY2bi-VzDmnZiq27S",
                "mode": "each"
            },
            "name": "Call LLM Adapter",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Format response from LLM Adapter\n// The adapter returns: { month_detected, entries, _meta }\nconst json = $input.item.json;\n\n// Normalize keys (fallback for Spanish keys if LLM ignores schema)\nlet month_detected = json.month_detected;\nif (!month_detected) {\n    const meses = {\n        'ENERO': '01', 'FEBRERO': '02', 'MARZO': '03', 'ABRIL': '04', 'MAYO': '05', 'JUNIO': '06',\n        'JULIO': '07', 'AGOSTO': '08', 'SEPTIEMBRE': '09', 'OCTUBRE': '10', 'NOVIEMBRE': '11', 'DICIEMBRE': '12'\n    };\n    const mesNorm = (json.mes || '').toString().toUpperCase().trim();\n    const mesNum = meses[mesNorm] || (json.mes || '').toString().padStart(2,'0'); // Try mapping or pad number\n    const anio = json.anio || new Date().getFullYear();\n    month_detected = `${anio}-${mesNum}`;\n}\n\nconst entries = json.entries || json.eventos || [];\n\n// Create binary for downstream file saves\nconst outputJson = {\n    month_detected,\n    entries,\n    _meta: json._meta\n};\n\nconst binaryData = Buffer.from(JSON.stringify(outputJson, null, 2)).toString('base64');\n\nreturn {\n  json: outputJson,\n  binary: {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json'\n    }\n  }\n};"
            },
            "name": "Format Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "command": "=mkdir -p /data/whiteboard_raw/{{ $json.month_detected }}"
            },
            "name": "Create Folder RAW",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                1050,
                300
            ]
        },
        {
            "parameters": {
                "mode": "mergeByIndex",
                "join": "outer",
                "binary": "resolved"
            },
            "name": "Merge RAW",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 1,
            "position": [
                1250,
                300
            ]
        },
        {
            "parameters": {
                "fileName": "=/data/whiteboard_raw/{{ $json.month_detected }}/{{ new Date().toISOString().split('T')[0] }}_{{ $node[\"Execute Workflow Trigger\"].json.message_id }}.json",
                "options": {
                    "createDirs": true
                }
            },
            "name": "Save RAW",
            "type": "n8n-nodes-base.writeBinaryFile",
            "typeVersion": 1,
            "position": [
                1450,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "// Load Previous Snapshot logic (mock for now)\nconst currentSnapshot = items[0].json;\nconst diffs = {\n  added: [],\n  modified: [],\n  removed: []\n};\n\nif (currentSnapshot.entries && Array.isArray(currentSnapshot.entries)) {\n  currentSnapshot.entries.forEach(entry => {\n    diffs.added.push(entry);\n  });\n}\n\n// Create binary for next save\nconst binaryData = Buffer.from(JSON.stringify(currentSnapshot, null, 2)).toString('base64');\n\nreturn [{\n  json: {\n    diffs,\n    currentSnapshot,\n    _debug: {\n        inputKeys: Object.keys(currentSnapshot),\n        entriesType: typeof currentSnapshot.entries,\n        entriesLength: currentSnapshot.entries ? currentSnapshot.entries.length : 'N/A'\n    }\n  },\n  binary: {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json'\n    }\n  }\n}];"
            },
            "name": "Calculate Diff",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                1650,
                300
            ]
        },
        {
            "parameters": {
                "command": "=mkdir -p /data/whiteboard_snapshots/{{ $json.currentSnapshot.month_detected }}"
            },
            "name": "Create Folder Snapshot",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                1850,
                300
            ]
        },
        {
            "parameters": {
                "mode": "mergeByIndex",
                "join": "outer",
                "binary": "resolved"
            },
            "name": "Merge Snapshot",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 1,
            "position": [
                2050,
                300
            ]
        },
        {
            "parameters": {
                "fileName": "=/data/whiteboard_snapshots/{{ $json.currentSnapshot.month_detected }}/{{ new Date().toISOString().split('T')[0] }}.json",
                "options": {
                    "createDirs": true
                }
            },
            "name": "Save Snapshot",
            "type": "n8n-nodes-base.writeBinaryFile",
            "typeVersion": 1,
            "position": [
                2250,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{ $json.diffs.added.length + $json.diffs.modified.length }}",
                            "operation": "larger",
                            "value2": 0
                        }
                    ]
                }
            },
            "name": "Has Changes?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                2450,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "// Create Session File\nconst uuid = Math.random().toString(36).substring(7);\nconst session = {\n  id: uuid,\n  created_at: new Date().toISOString(),\n  chat_id: $node[\"Execute Workflow Trigger\"].json.chat_id,\n  pending: items[0].json.diffs.added.concat(items[0].json.diffs.modified),\n  accepted: [],\n  ignored: []\n};\n\nconst binaryData = Buffer.from(JSON.stringify(session, null, 2)).toString('base64');\n\nreturn [{\n  json: { session, uuid },\n  binary: {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json'\n    }\n  }\n}];"
            },
            "name": "Create Session Object",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                2650,
                200
            ]
        },
        {
            "parameters": {
                "command": "=mkdir -p /data/review_sessions"
            },
            "name": "Create Folder Session",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                2850,
                200
            ]
        },
        {
            "parameters": {
                "mode": "mergeByIndex",
                "join": "outer",
                "binary": "resolved"
            },
            "name": "Merge Session",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 1,
            "position": [
                3050,
                200
            ]
        },
        {
            "parameters": {
                "fileName": "=/data/review_sessions/sess_{{ $json.uuid }}.json",
                "options": {
                    "createDirs": true
                }
            },
            "name": "Save Session",
            "type": "n8n-nodes-base.writeBinaryFile",
            "typeVersion": 1,
            "position": [
                3250,
                200
            ]
        },
        {
            "parameters": {
                "workflowId": "18JO8AMXiXDnR9-tU-POb",
                "mode": "each"
            },
            "name": "Start Review",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1,
            "position": [
                3450,
                200
            ]
        },
        {
            "parameters": {
                "chatId": "={{ $node[\"Execute Workflow Trigger\"].json.chat_id }}",
                "text": "✅ Pizarra procesada. No se detectaron cambios nuevos.",
                "additionalFields": {}
            },
            "name": "Notify No Changes",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                2650,
                400
            ],
            "credentials": {
                "telegramApi": {
                    "id": "JLG33gMQcdi4JvQq",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "chatId": "={{ $node[\"Execute Workflow Trigger\"].json.chat_id }}",
                "text": "=🐛 Debug Ingest Output:\n{{ JSON.stringify($json).slice(0, 3000) }}",
                "additionalFields": {}
            },
            "name": "Debug Output",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                3650,
                200
            ],
            "credentials": {
                "telegramApi": {
                    "id": "JLG33gMQcdi4JvQq",
                    "name": "Telegram account"
                }
            }
        }
    ],
    "connections": {
        "Execute Workflow Trigger": {
            "main": [
                [
                    {
                        "node": "Prepare LLM Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare LLM Input": {
            "main": [
                [
                    {
                        "node": "Call LLM Adapter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call LLM Adapter": {
            "main": [
                [
                    {
                        "node": "Format Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Response": {
            "main": [
                [
                    {
                        "node": "Create Folder RAW",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Merge RAW",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Create Folder RAW": {
            "main": [
                [
                    {
                        "node": "Merge RAW",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge RAW": {
            "main": [
                [
                    {
                        "node": "Save RAW",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save RAW": {
            "main": [
                [
                    {
                        "node": "Calculate Diff",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Calculate Diff": {
            "main": [
                [
                    {
                        "node": "Create Folder Snapshot",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Merge Snapshot",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Create Folder Snapshot": {
            "main": [
                [
                    {
                        "node": "Merge Snapshot",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Snapshot": {
            "main": [
                [
                    {
                        "node": "Save Snapshot",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Snapshot": {
            "main": [
                [
                    {
                        "node": "Has Changes?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Changes?": {
            "main": [
                [
                    {
                        "node": "Create Session Object",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Notify No Changes",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Session Object": {
            "main": [
                [
                    {
                        "node": "Create Folder Session",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Merge Session",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Create Folder Session": {
            "main": [
                [
                    {
                        "node": "Merge Session",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Session": {
            "main": [
                [
                    {
                        "node": "Save Session",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Session": {
            "main": [
                [
                    {
                        "node": "Start Review",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Start Review": {
            "main": [
                [
                    {
                        "node": "Debug Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}