workflows/nido.api.chat.json
{
    "name": "nido.api.chat",
    "id": "nido-api-chat",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "nido/chat",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                256,
                304
            ],
            "id": "webhook",
            "webhookId": "nido-chat-webhook"
        },
        {
            "parameters": {
                "jsCode": "const body = $input.item.json.body;\nreturn { json: {\n  type: 'text',\n  content: body.text,\n  chat_id: 'nido-web'\n}};"
            },
            "name": "Prepare Router",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                480,
                304
            ],
            "id": "prepare-router"
        },
        {
            "parameters": {
                "workflowId": "n2NjfVeSxgmSE_G_w6YSA",
                "mode": "each",
                "options": {}
            },
            "name": "Execute Router",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1,
            "position": [
                700,
                304
            ],
            "id": "execute-router"
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.category }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "HOME_ASSISTANT"
                        },
                        {
                            "value2": "SHOPPING",
                            "output": 1
                        },
                        {
                            "value2": "MEAL_PLAN",
                            "output": 2
                        },
                        {
                            "value2": "MEAL_TRACKER",
                            "output": 3
                        },
                        {
                            "value2": "CALENDAR",
                            "output": 4
                        }
                    ]
                },
                "fallbackOutput": 5
            },
            "name": "Switch Category",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                920,
                304
            ],
            "id": "switch-category"
        },
        {
            "parameters": {
                "workflowId": "wniItdCFjqMEss-D7LST6",
                "mode": "each",
                "options": {}
            },
            "name": "Execute HA Command",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1,
            "position": [
                1200,
                100
            ],
            "id": "execute-ha"
        },
        {
            "parameters": {
                "workflowId": "ApXo7C4Qijyz1gEK5D30F",
                "mode": "each",
                "options": {}
            },
            "name": "Execute Shopping",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1,
            "position": [
                1200,
                300
            ],
            "id": "execute-shopping"
        },
        {
            "parameters": {
                "workflowId": "qFxG__hwtGSAfLK6Q83SR",
                "mode": "each",
                "options": {}
            },
            "name": "Execute Meal Plan",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1,
            "position": [
                1200,
                500
            ],
            "id": "execute-meal-plan"
        },
        {
            "parameters": {
                "workflowId": "YCbLT5N1oGa3LKEa6xE2j",
                "mode": "each",
                "options": {}
            },
            "name": "Execute Meal Tracker",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1,
            "position": [
                1200,
                700
            ],
            "id": "execute-meal-tracker"
        },
        {
            "parameters": {
                "workflowId": "rnr5kvlbBNvVA9wXvJGAE",
                "mode": "each",
                "options": {}
            },
            "name": "Execute Calendar",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1,
            "position": [
                1200,
                900
            ],
            "id": "execute-calendar"
        },
        {
            "parameters": {
                "jsCode": "return { json: { result: \"Intent identified: \" + $input.item.json.category + \". Logic for web not yet implemented.\" } };"
            },
            "name": "Format Generic",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1200,
                1100
            ],
            "id": "format-generic"
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "const result = $input.item.json;\nlet text = \"Comando procesado.\";\n\n// Normalize outputs from different workflows\nif (result.result_text) text = result.result_text;\nelse if (result.result) text = result.result;\nelse if (result.text) text = result.text;\nelse if (result.summary) text = result.summary;\nelse if (result.message && result.message.text) text = result.message.text;\n// Special handling for Shopping list if no text returned but success\nelse if (result.new_state === 'on') text = \"✅ Añadido a la lista de la compra.\";\n\nreturn { json: { \n  text: text,\n  data: result \n} };"
            },
            "name": "Format Final Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1600,
                304
            ],
            "id": "format-final"
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify($json) }}",
                "options": {}
            },
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1820,
                304
            ],
            "id": "respond-webhook"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Prepare Router",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Router": {
            "main": [
                [
                    {
                        "node": "Execute Router",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute Router": {
            "main": [
                [
                    {
                        "node": "Switch Category",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch Category": {
            "main": [
                [
                    {
                        "node": "Execute HA Command",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Execute Shopping",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Execute Meal Plan",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Execute Meal Tracker",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Execute Calendar",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Format Generic",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute HA Command": {
            "main": [
                [
                    {
                        "node": "Format Final Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute Shopping": {
            "main": [
                [
                    {
                        "node": "Format Final Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute Meal Plan": {
            "main": [
                [
                    {
                        "node": "Format Final Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute Meal Tracker": {
            "main": [
                [
                    {
                        "node": "Format Final Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Execute Calendar": {
            "main": [
                [
                    {
                        "node": "Format Final Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Generic": {
            "main": [
                [
                    {
                        "node": "Format Final Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Final Response": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}