workflows/nido.router.telegram.json
{
  "name": "nido.router.telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        6320,
        -1104
      ],
      "webhookId": "nido-router-telegram",
      "id": "1cdfd0f5-81ff-4628-b970-ccc240863239",
      "credentials": {
        "telegramApi": {
          "id": "JLG33gMQcdi4JvQq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Telegram Trigger').item.json;\nlet type = 'other';\n\nif (msg.callback_query) {\n  type = 'callback';\n} else if (msg.message) {\n  if (msg.message.photo) {\n    type = 'photo';\n  } else if (\n    msg.message.text &&\n    msg.message.text.trim().toLowerCase() === 'r'\n  ) {\n    type = 'R';\n  } else if (msg.message.text) {\n    type = 'text';\n  }\n}\n\nreturn { json: { ...msg, type } };"
      },
      "name": "Identify Type",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6768,
        -1104
      ],
      "id": "0bea7979-66a7-4b28-8d05-e578c827be43"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.type }}",
        "rules": {
          "rules": [
            {
              "value2": "text"
            },
            {
              "value2": "photo",
              "output": 1
            },
            {
              "value2": "callback",
              "output": 2
            },
            {
              "value2": "R",
              "output": 3
            }
          ]
        }
      },
      "name": "Switch Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        6992,
        -1136
      ],
      "id": "cfe8761c-1cc4-4550-b074-6380840d29ac"
    },
    {
      "parameters": {
        "jsCode": "const msg = $input.item.json;\nreturn { json: {\n  type: 'text',\n  content: msg.message.text,\n  chat_id: msg.message.chat.id,\n  ...msg\n}};"
      },
      "name": "Setup Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7232,
        -1584
      ],
      "id": "3e6c8615-7ddc-404c-8f24-a8b30ca85ebb"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[$json.message.photo.length - 1].file_id }}",
        "additionalFields": {}
      },
      "name": "Get Photo",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        7232,
        -1344
      ],
      "id": "7c7efa7d-e835-4dbe-aa50-ced2a8b752e9",
      "webhookId": "db8a6826-e1a3-4994-87b0-725acb76ed05",
      "credentials": {
        "telegramApi": {
          "id": "JLG33gMQcdi4JvQq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "folder",
              "value": "=/storage/inbox_photos/{{ new Date().getFullYear() }}/{{ (new Date().getMonth() + 1).toString().padStart(2, '0') }}/{{ new Date().getDate().toString().padStart(2, '0') }}"
            },
            {
              "name": "filename",
              "value": "={{ $json.result.file_path.split('/').pop() }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Path",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        7440,
        -1344
      ],
      "id": "ae20e2f0-8631-423d-b283-ff96e14c3964"
    },
    {
      "parameters": {
        "command": "=mkdir -p {{ $json.folder }}"
      },
      "name": "Create Folder",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        7632,
        -1392
      ],
      "id": "cbd144b5-a6aa-4fc1-b803-6af5635ef502"
    },
    {
      "parameters": {
        "mode": "mergeByIndex",
        "join": "outer"
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        7840,
        -1344
      ],
      "id": "58b57eaf-a48c-4911-973c-fa10aed38e69"
    },
    {
      "parameters": {
        "fileName": "={{ $node[\"Set Path\"].json.folder }}/{{ $node[\"Set Path\"].json.filename }}",
        "options": {}
      },
      "name": "Save to Disk",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        8032,
        -1344
      ],
      "id": "ef61470c-62ff-4b34-a6ac-c607d73b9109"
    },
    {
      "parameters": {
        "jsCode": "const folder = $('Set Path').item.json.folder;\nconst filename = $('Set Path').item.json.filename;\nconst path = `${folder}/${filename}`;\nconst msg = $('Telegram Trigger').item.json;\n\nreturn { json: {\n  type: 'image',\n  content: path,\n  chat_id: msg.message.chat.id,\n  ...msg\n}};"
      },
      "name": "Setup Photo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8240,
        -1344
      ],
      "id": "eaa3d338-33e1-4e75-b915-e295ea9e3807"
    },
    {
      "parameters": {
        "workflowId": "n2NjfVeSxgmSE_G_w6YSA",
        "mode": "each",
        "options": {}
      },
      "name": "Execute Router",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        8544,
        -1488
      ],
      "id": "bfc02705-5776-4e9a-9b2e-16886e10f407"
    },
    {
      "parameters": {
        "workflowId": "zJmvUMO9FN7ShjqeKed-S",
        "mode": "each",
        "options": {}
      },
      "name": "Process Callback",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        7232,
        -1168
      ],
      "id": "09ca79e2-5f70-4312-b0b3-d3cfb550555d"
    },
    {
      "parameters": {
        "jsCode": "const chatMap = {\n    \"Nido-Alberto\": \"5785514136\",\n    \"Nido-Alberto-Laura\": \"-5223730192\",\n    \"Nido-Alberto-Laura-Testing\": \"-5234536185\",\n    \"Nido-Laura\": \"PLACEHOLDER\"\n};\nconst idToName = Object.fromEntries(Object.entries(chatMap).map(([k,v]) => [v, k]));\n\nconst item = $input.item.json;\nconst chatId = item.chat_id;\nconst chatName = idToName[String(chatId)] || 'Unknown';\n\nlet workflow_id = null;\nconst WORKFLOWS = {\n    WHITEBOARD_INGEST: 't3IsM1h5-xaYeegf0PpyK',\n    WHITEBOARD_REVIEW: 'gSnUtg5YnaLgjyYN2sKno',\n    TELEGRAM_CALENDAR: 'rnr5kvlbBNvVA9wXvJGAE',\n    SOCCER_EVENT: 'l-0lymHED94CrXwOsRH98',\n    MEALS_INVENTORY: 'ApXo7C4Qijyz1gEK5D30F',\n    MEALS_PLANNER: 'qFxG__hwtGSAfLK6Q83SR',\n    MEALS_TRACKER: 'YCbLT5N1oGa3LKEa6xE2j',\n    TELEGRAM_R: '_dA1MLN1DRs_rD4LkW2et',\n    HOME_ASSISTANT: 'wniItdCFjqMEss-D7LST6'\n};\n\n// Global Rule: Text is exactly \"r\" or \"R\" -> nido.telegram.r\nif (item.type === 'R') {\n    workflow_id = WORKFLOWS.TELEGRAM_R;\n}\n\n// Global Rule: Shopping -> nido.meals.inventory\nif (item.category === 'SHOPPING') {\n    workflow_id = WORKFLOWS.MEALS_INVENTORY;\n}\n\n// Global Rule: Meal Plan -> nido.meals.planner\nif (item.category === 'MEAL_PLAN') {\n    workflow_id = WORKFLOWS.MEALS_PLANNER;\n}\n\n// Global Rule: Meal Tracker -> nido.meals.tracker\nif (item.category === 'MEAL_TRACKER' || item.category === 'meal_tracker') {\n    workflow_id = WORKFLOWS.MEALS_TRACKER;\n}\n\n// Global Rule: Home Assistant\nif (item.category === 'HOME_ASSISTANT') {\n    workflow_id = WORKFLOWS.HOME_ASSISTANT;\n}\n\n// Global Rule: Image Type Event -> nido.telegram.calendar\n// Updated to check category 'CALENDAR' or 'event' (mapped from image_type)\nif (item.category === 'CALENDAR' || item.category === 'event' || item.image_type === 'event') {\n    workflow_id = WORKFLOWS.TELEGRAM_CALENDAR;\n}\n\n// Global Rule: Image Type Meal Tracker\nif (item.category === 'MEAL_TRACKER' || item.category === 'meal_tracker' || item.image_type === 'meal_tracker') {\n    workflow_id = WORKFLOWS.MEALS_TRACKER;\n}\n\n// Rule 1: Foto + Category: whiteboard_calendar + Chat: \"Nido-Alberto\" -> nido.whiteboard.ingest\n\nif (item.category === 'WHITEBOARD' || item.category === 'whiteboard_calendar' || item.image_type === 'whiteboard_calendar') {\n    workflow_id = WORKFLOWS.WHITEBOARD_INGEST;\n}\n// Rule 2: Tipo: Callback + Chat: \"Nido-Alberto\" -> nido.whiteboard.review\nif (item.type === 'callback') {\n    workflow_id = WORKFLOWS.WHITEBOARD_REVIEW;\n}\n\n\n// Rule 3: Chat \"Nido-Alberto-Laura-Testing\" rules\nif (chatName === 'Nido-Alberto-Laura-Testing') {\n    // Texto + Category: calendar -> nido.telegram.calendar\n    if (item.category === 'CALENDAR' || item.category === 'calendar') {\n        workflow_id = WORKFLOWS.TELEGRAM_CALENDAR;\n    }\n    // Callback: cal_save or cal_cancel -> nido.telegram.calendar\n    if (item.type === 'callback' && item.action && (item.action.startsWith('cal_'))) {\n        workflow_id = WORKFLOWS.TELEGRAM_CALENDAR;\n    }\n}\n\n// Global Rule: Calendar Callbacks (cal_*) always go to calendar workflow\nif (item.type === 'callback' && item.action && String(item.action).startsWith('cal_')) {\n    workflow_id = WORKFLOWS.TELEGRAM_CALENDAR;\n}\n\n// Global Rule: Soccer Callbacks (yes/no_football)\nif (item.type === 'callback' && item.action && (String(item.action) === 'yes_football' || String(item.action) === 'no_football')) {\n    workflow_id = WORKFLOWS.SOCCER_EVENT;\n}\n\n// Define image_path if item is an image (content holds the path logic from earlier node)\nlet image_path = undefined;\nif (item.type === 'image' && item.content) {\n    image_path = item.content;\n}\n\nreturn { json: { workflow_id, ...item, chatName, image_path } };"
      },
      "name": "Route Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8832,
        -1008
      ],
      "id": "caa20d65-7408-4b81-9e20-a42ea397fc9e"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.workflow_id ? 'found' : 'missing' }}",
        "rules": {
          "rules": [
            {
              "value2": "found"
            }
          ]
        },
        "fallbackOutput": 1
      },
      "name": "Switch Target",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        9056,
        -1136
      ],
      "id": "5974c0db-7e12-48ee-b4b4-2529567e28bb"
    },
    {
      "parameters": {
        "workflowId": "={{ $json.workflow_id }}",
        "mode": "each",
        "options": {}
      },
      "name": "Execute Target Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        9280,
        -1200
      ],
      "id": "4adcc952-b1c7-4f1e-885d-e5af7d94ffdc"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "=🤖 No he podido enrutar tu mensaje.\nChat: {{ $json.chatName }}\nTipo: {{ $json.type }}\nCategoría/Img: {{ $json.category || $json.image_type || 'N/A' }}",
        "additionalFields": {}
      },
      "name": "Reply Unknown",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        9280,
        -1008
      ],
      "id": "4f3cbb3f-7412-405b-b09d-14244c443a3c",
      "webhookId": "reply-unknown-webhook",
      "credentials": {
        "telegramApi": {
          "id": "JLG33gMQcdi4JvQq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message ? $json.message.chat.id : $json.callback_query.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        6544,
        -1104
      ],
      "id": "7f72ebbd-9d5e-4af9-a282-e5ffae037f76",
      "name": "Typing",
      "webhookId": "949906f6-4925-4058-a705-0071ae91fa64",
      "credentials": {
        "telegramApi": {
          "id": "JLG33gMQcdi4JvQq",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Typing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Identify Type": {
      "main": [
        [
          {
            "node": "Switch Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Type": {
      "main": [
        [
          {
            "node": "Setup Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Photo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Text": {
      "main": [
        [
          {
            "node": "Execute Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Photo": {
      "main": [
        [
          {
            "node": "Set Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Path": {
      "main": [
        [
          {
            "node": "Create Folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create Folder": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Save to Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Disk": {
      "main": [
        [
          {
            "node": "Setup Photo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Photo": {
      "main": [
        [
          {
            "node": "Execute Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Router": {
      "main": [
        [
          {
            "node": "Route Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Callback": {
      "main": [
        [
          {
            "node": "Route Logic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Logic": {
      "main": [
        [
          {
            "node": "Switch Target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Target": {
      "main": [
        [
          {
            "node": "Execute Target Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply Unknown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Typing": {
      "main": [
        [
          {
            "node": "Identify Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "cfdfd8c7-f282-4d21-a953-2d6f7a28eca3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e1f8529dafc1c7b24188afd104b1a8e8824324405683593c80fc8bc56ba17881"
  },
  "id": "Idwsbwewlp1-aUO7NZrsg",
  "tags": []
}