workflows/nido.soccer_event.json
{
  "name": "nido.soccer_event",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                2,
                5
              ],
              "triggerAtHour": 22
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ffd7c757-ca59-4959-8b1a-58479152f4db"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "primary"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{$node[\"Date Calculation\"].json[\"start\"]}}",
          "timeMax": "={{$node[\"Date Calculation\"].json[\"end\"]}}",
          "singleEvents": true,
          "query": "Fútbol"
        }
      },
      "name": "Get Matches",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "45590234-daeb-4e43-aa21-d6d4eb9da4e3",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "FrzV2bMzBnHfLNY2",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"id\"] ? true : false}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Match Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        608,
        0
      ],
      "id": "8643f144-b681-4d51-a024-d8b1a2e65cb4"
    },
    {
      "parameters": {
        "chatId": "5785514136",
        "text": "=⚽ ¡Partido el {{new Date($node[\"Get Matches\"].json[\"start\"][\"dateTime\"]).toLocaleString(\"es-ES\", {weekday: 'long', day: 'numeric', timeZone: 'Europe/Madrid'})}}!\n\n🕒 Hora: {{new Date($node[\"Get Matches\"].json[\"start\"][\"dateTime\"]).toLocaleTimeString(\"es-ES\", {hour:'2-digit', minute:'2-digit', timeZone: 'Europe/Madrid'})}}\n\n¿Te apuntas?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Sí, voy",
                    "additionalFields": {
                      "callback_data": "=yes_football|{{$node[\"Get Matches\"].json[\"start\"][\"dateTime\"]}}|{{$node[\"Get Matches\"].json[\"end\"][\"dateTime\"]}}"
                    }
                  },
                  {
                    "text": "No puedo",
                    "additionalFields": {
                      "callback_data": "no_football"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "name": "Ask Alberto",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "572069cc-4b01-4891-9e2e-de665ed72dce",
      "webhookId": "57c134f6-0f09-43bd-b239-b209058d7a18",
      "credentials": {
        "telegramApi": {
          "id": "JLG33gMQcdi4JvQq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "name": "Wait for Response",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        0,
        304
      ],
      "webhookId": "cb-football-response",
      "id": "d7cbe21c-2042-4eec-9a89-a922dc0fdd5b",
      "credentials": {
        "telegramApi": {
          "id": "JLG33gMQcdi4JvQq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"answer\"]}}",
              "value2": "yes"
            }
          ]
        }
      },
      "name": "Is Yes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        400,
        304
      ],
      "id": "330421ee-2dfb-4305-9837-c81251cbf556"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "albertolau@pozoesteban.es"
        },
        "start": "={{$json[\"start\"]}}",
        "end": "={{$json[\"end\"]}}",
        "additionalFields": {
          "summary": "⚽ Partido de Fútbol de Alberto"
        }
      },
      "name": "Add to Shared Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        608,
        208
      ],
      "id": "e30ac8f8-8396-4fd5-bd1a-98e73520885d",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "bB5cLTUIh2iApkRb",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8486964833",
        "text": "=✅ Alberto ha confirmado que irá al fútbol el {{new Date($node[\"Parse Response\"].json[\"start\"]).toLocaleString(\"es-ES\", {weekday: 'long', day: 'numeric', month: 'long', hour: '2-digit', minute: '2-digit', timeZone: 'Europe/Madrid'})}}.",
        "additionalFields": {}
      },
      "name": "Notify Laura",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        800,
        208
      ],
      "id": "e3408ef4-eb28-442d-9ac7-96d9f919eafd",
      "webhookId": "f4adb42f-d96a-454a-882f-71469491f6c7",
      "credentials": {
        "telegramApi": {
          "id": "JLG33gMQcdi4JvQq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "state",
        "operation": "upsert",
        "entityId": "input_datetime.proximo_futbol",
        "state": "={{ new Date($node[\"Parse Response\"].json[\"start\"]).toLocaleString(\"sv-SE\", { timeZone: \"Europe/Madrid\" }) }}"
      },
      "name": "Update Home Assistant",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        1008,
        208
      ],
      "id": "716374aa-f318-44cf-8d40-36495a002d46",
      "credentials": {
        "homeAssistantApi": {
          "id": "I3MbDcoMCh6VZ8R1",
          "name": "Home Assistant account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5785514136",
        "text": "Vale, ¡quizás a la próxima! 👋",
        "additionalFields": {}
      },
      "name": "Ack No",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        608,
        400
      ],
      "id": "f0f9afdf-b736-4446-af94-ed89cb3e4f84",
      "webhookId": "101bd5b0-5d46-4dba-9ed8-fe8a29299a1d",
      "credentials": {
        "telegramApi": {
          "id": "JLG33gMQcdi4JvQq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Start: Now\nconst now = new Date();\n\n// End: Now + 3 days\nconst endDate = new Date(now);\nendDate.setDate(now.getDate() + 3);\nendDate.setHours(23, 59, 59, 999);\n\nreturn [\n  {\n    json: {\n      start: now.toISOString(),\n      end: endDate.toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        0
      ],
      "id": "1412b445-5ee6-4681-bea8-10409797a141",
      "name": "Date Calculation"
    },
    {
      "parameters": {
        "jsCode": "const json = items[0].json;\nif (!json.callback_query || !json.callback_query.data) {\n  return [{ json: { answer: 'no_data' } }];\n}\n\nconst data = json.callback_query.data;\nconst parts = data.split('|');\n\nif (parts[0] === 'yes_football') {\n  return [\n    {\n      json: {\n        answer: 'yes',\n        start: parts[1],\n        end: parts[2]\n      }\n    }\n  ];\n} else {\n  return [\n    {\n      json: {\n        answer: 'no'\n      }\n    }\n  ];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        304
      ],
      "id": "0eae70ba-4069-483c-9e30-969c4726dbd1",
      "name": "Parse Response"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Date Calculation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Matches": {
      "main": [
        [
          {
            "node": "Match Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Found?": {
      "main": [
        [
          {
            "node": "Ask Alberto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Response": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Yes?": {
      "main": [
        [
          {
            "node": "Add to Shared Calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ack No",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Shared Calendar": {
      "main": [
        [
          {
            "node": "Notify Laura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Laura": {
      "main": [
        [
          {
            "node": "Update Home Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ack No": {
      "main": [
        []
      ]
    },
    "Date Calculation": {
      "main": [
        [
          {
            "node": "Get Matches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Is Yes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f8ab3f2f-7cae-4a07-a217-88d77ead87da",
  "meta": {
    "instanceId": "e1f8529dafc1c7b24188afd104b1a8e8824324405683593c80fc8bc56ba17881"
  },
  "id": "l-0lymHED94CrXwOsRH98",
  "tags": []
}