workflows/nido.api.calendar.json
{
    "name": "nido.api.calendar",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "minutes",
                            "minutesInterval": 60
                        }
                    ]
                }
            },
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                0,
                0
            ],
            "id": "trigger-schedule"
        },
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "calendar/update",
                "options": {}
            },
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                0,
                200
            ],
            "id": "trigger-webhook"
        },
        {
            "parameters": {
                "mode": "runOnceForEachItem",
                "jsCode": "const now = new Date();\nconst fromDate = new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000).toISOString(); // -7 days\nconst toDate = new Date(now.getTime() + 90 * 24 * 60 * 60 * 1000).toISOString(); // +90 days\n\n// Token validation for webhook\nconst webhookParams = $input.item.json.query || {};\nconst token = webhookParams.token;\nconst validToken = process.env.CALENDAR_API_TOKEN || 'changeme';\n\nif ($input.item.json.body || $input.item.json.query) {\n  // It's a webhook call\n  if (token !== validToken) {\n     throw new Error('Invalid token');\n  }\n}\n\nreturn {\n  json: {\n    timeMin: fromDate,\n    timeMax: toDate\n  }\n};\n"
            },
            "name": "Calculate Date Range",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                250,
                100
            ],
            "id": "calculate-dates"
        },
        {
            "parameters": {
                "operation": "getAll",
                "calendar": {
                    "__rl": true,
                    "mode": "list",
                    "value": "primary"
                },
                "returnAll": true,
                "options": {
                    "timeMin": "={{ $json.timeMin }}",
                    "timeMax": "={{ $json.timeMax }}",
                    "singleEvents": true
                }
            },
            "name": "Get Primary Events",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1,
            "position": [
                500,
                100
            ],
            "id": "get-primary",
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "FrzV2bMzBnHfLNY2",
                    "name": "Google Calendar account"
                }
            }
        },
        {
            "parameters": {
                "operation": "getAll",
                "calendar": {
                    "__rl": true,
                    "mode": "list",
                    "value": "albertolau@pozoesteban.es"
                },
                "returnAll": true,
                "options": {
                    "timeMin": "={{ $node['Calculate Date Range'].json.timeMin }}",
                    "timeMax": "={{ $node['Calculate Date Range'].json.timeMax }}"
                }
            },
            "name": "Get Shared Events",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1,
            "position": [
                500,
                300
            ],
            "id": "get-shared",
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "bB5cLTUIh2iApkRb",
                    "name": "Google Calendar account 2"
                }
            }
        },
        {
            "parameters": {
                "mode": "runOnceForAllItems",
                "jsCode": "const primaryEvents = $items('Get Primary Events').map(i => i.json);\nconst sharedEvents = $items('Get Shared Events').map(i => i.json);\n\nconst allEvents = [...primaryEvents, ...sharedEvents];\n\nconst formattedEvents = allEvents.map(e => ({\n  id: e.id,\n  title: e.summary || 'Sin título',\n  start: e.start.dateTime || e.start.date,\n  end: e.end.dateTime || e.end.date,\n  allDay: !e.start.dateTime,\n  // Add source calendar info if needed for color coding\n  source: e.organizer ? e.organizer.email : 'unknown'\n}));\n\n// Sort by start date\nformattedEvents.sort((a, b) => new Date(a.start) - new Date(b.start));\n\nreturn {\n  json: {\n    generated_at: new Date().toISOString(),\n    total_events: formattedEvents.length,\n    events: formattedEvents\n  }\n};"
            },
            "name": "Merge & Format",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                750,
                200
            ],
            "id": "merge-format"
        },
        {
            "parameters": {
                "fileContent": "={{ JSON.stringify($json) }}",
                "fileName": "/data/calendar/events.json.tmp"
            },
            "name": "Write Temp File",
            "type": "n8n-nodes-base.writeToFile",
            "typeVersion": 1,
            "position": [
                950,
                200
            ],
            "id": "write-temp"
        },
        {
            "parameters": {
                "command": "mv /data/calendar/events.json.tmp /data/calendar/events.json"
            },
            "name": "Move to Final",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                1150,
                200
            ],
            "id": "move-final"
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Calculate Date Range",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Calculate Date Range",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Calculate Date Range": {
            "main": [
                [
                    {
                        "node": "Get Primary Events",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Get Shared Events",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Primary Events": {
            "main": [
                [
                    {
                        "node": "Merge & Format",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Get Shared Events": {
            "main": [
                [
                    {
                        "node": "Merge & Format",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge & Format": {
            "main": [
                [
                    {
                        "node": "Write Temp File",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Write Temp File": {
            "main": [
                [
                    {
                        "node": "Move to Final",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    }
}