workflows/nido.router.telegram.json
{
    "name": "nido.router.telegram",
    "nodes": [
        {
            "parameters": {
                "updates": [
                    "message",
                    "callback_query"
                ],
                "additionalFields": {}
            },
            "name": "Telegram Trigger",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1,
            "position": [
                816,
                352
            ],
            "webhookId": "nido-router-telegram",
            "id": "14169f29-3460-4d3a-a06d-295f014ec230",
            "credentials": {
                "telegramApi": {
                    "id": "JLG33gMQcdi4JvQq",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const msg = $('Telegram Trigger').item.json;\nlet type = 'other';\n\nif (msg.callback_query) {\n  type = 'callback';\n} else if (msg.message) {\n  if (msg.message.photo) type = 'photo';\n  else if (msg.message.text) type = 'text';\n}\n\nreturn { json: { ...msg, type } };"
            },
            "name": "Identify Type",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1264,
                352
            ],
            "id": "893c6270-eb57-4edf-8b79-26b48142bb14"
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.type }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "text"
                        },
                        {
                            "value2": "photo",
                            "output": 1
                        },
                        {
                            "value2": "callback",
                            "output": 2
                        }
                    ]
                },
                "fallbackOutput": 3
            },
            "name": "Switch Type",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                1488,
                320
            ],
            "id": "10d00a62-4c10-4311-809c-d2f7bfd77ea8"
        },
        {
            "parameters": {
                "workflowId": "fk7A5h2ySSny8G3L_luha",
                "mode": "each",
                "options": {}
            },
            "name": "Classify Text",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1,
            "position": [
                1712,
                160
            ],
            "id": "fb6907d2-a915-49bc-931d-c5a6ac7133b5"
        },
        {
            "parameters": {
                "workflowId": "i27XoV9nJmU0TkfZ39Jk0",
                "mode": "each",
                "options": {}
            },
            "name": "Classify Photo",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1,
            "position": [
                1712,
                352
            ],
            "id": "26d8c651-8dd4-472d-85af-a16b7d8516f9"
        },
        {
            "parameters": {
                "workflowId": "zJmvUMO9FN7ShjqeKed-S",
                "mode": "each",
                "options": {}
            },
            "name": "Process Callback",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1,
            "position": [
                1712,
                544
            ],
            "id": "538453c5-67a9-4a19-ad8b-9f17f84e7daf"
        },
        {
            "parameters": {
                "jsCode": "const chatMap = {\n    \"Nido-Alberto\": \"5785514136\",\n    \"Nido-Alberto-Laura\": \"-5223730192\",\n    \"Nido-Alberto-Laura-Testing\": \"-5234536185\",\n    \"Nido-Laura\": \"PLACEHOLDER\"\n};\nconst idToName = Object.fromEntries(Object.entries(chatMap).map(([k,v]) => [v, k]));\n\nconst item = $input.item.json;\nconst chatId = item.chat_id;\nconst chatName = idToName[String(chatId)] || 'Unknown';\n\nlet workflow_id = null;\nconst WORKFLOWS = {\n    WHITEBOARD_INGEST: 't3IsM1h5-xaYeegf0PpyK',\n    WHITEBOARD_REVIEW: 'gSnUtg5YnaLgjyYN2sKno',\n    TELEGRAM_CALENDAR: 'rnr5kvlbBNvVA9wXvJGAE',\n    SOCCER_EVENT: 'l-0lymHED94CrXwOsRH98',\n    MEALS_INVENTORY: 'ApXo7C4Qijyz1gEK5D30F',\n    MEALS_PLANNER: 'qFxG__hwtGSAfLK6Q83SR',\n    MEALS_TRACKER: 'Mea1Track3rW0rkf10wID'\n};\n\n// Global Rule: Shopping -> nido.meals.inventory\nif (item.category === 'SHOPPING') {\n    workflow_id = WORKFLOWS.MEALS_INVENTORY;\n}\n\n// Global Rule: Meal Plan -> nido.meals.planner\nif (item.category === 'MEAL_PLAN') {\n    workflow_id = WORKFLOWS.MEALS_PLANNER;\n}\n\n// Global Rule: Meal Tracker -> nido.meals.tracker\nif (item.category === 'MEAL_TRACKER' || item.category === 'meal_tracker') {\n    workflow_id = WORKFLOWS.MEALS_TRACKER;\n}\n\n// Rule 1: Foto + Category: whiteboard_calendar + Chat: \"Nido-Alberto\" -> nido.whiteboard.ingest\nif (chatName === 'Nido-Alberto') {\n    if (item.image_type === 'whiteboard_calendar') {\n        workflow_id = WORKFLOWS.WHITEBOARD_INGEST;\n    }\n    // Rule 2: Tipo: Callback + Chat: \"Nido-Alberto\" -> nido.whiteboard.review\n    if (item.type === 'callback') {\n        workflow_id = WORKFLOWS.WHITEBOARD_REVIEW;\n    }\n}\n\n// Rule 3: Chat \"Nido-Alberto-Laura-Testing\" rules\nif (chatName === 'Nido-Alberto-Laura-Testing') {\n    // Texto + Category: calendar -> nido.telegram.calendar\n    if (item.category === 'calendar') {\n        workflow_id = WORKFLOWS.TELEGRAM_CALENDAR;\n    }\n    // Callback: cal_save or cal_cancel -> nido.telegram.calendar\n    if (item.type === 'callback' && item.action && (item.action.startsWith('cal_'))) {\n        workflow_id = WORKFLOWS.TELEGRAM_CALENDAR;\n    }\n}\n\n// Global Rule: Calendar Callbacks (cal_*) always go to calendar workflow\nif (item.type === 'callback' && item.action && String(item.action).startsWith('cal_')) {\n    workflow_id = WORKFLOWS.TELEGRAM_CALENDAR;\n}\n\n// Global Rule: Soccer Callbacks (yes/no_football)\nif (item.type === 'callback' && item.action && (String(item.action) === 'yes_football' || String(item.action) === 'no_football')) {\n    workflow_id = WORKFLOWS.SOCCER_EVENT;\n}\n\nreturn { json: { workflow_id, ...item, chatName } };"
            },
            "name": "Route Logic",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1936,
                352
            ],
            "id": "ab0ac7b5-f631-4cd7-8d0e-78a382362082"
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.workflow_id ? 'found' : 'missing' }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "found"
                        }
                    ]
                },
                "fallbackOutput": 1
            },
            "name": "Switch Target",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                2160,
                320
            ],
            "id": "f2c3271a-aeed-4fc4-a8ee-e954e64dcf14"
        },
        {
            "parameters": {
                "workflowId": "={{ $json.workflow_id }}",
                "mode": "each",
                "options": {}
            },
            "name": "Execute Target Workflow",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1,
            "position": [
                2384,
                256
            ],
            "id": "5cad7b24-da19-4f3e-bd9c-a65748f11272"
        },
        {
            "parameters": {
                "chatId": "={{ $json.chat_id }}",
                "text": "=\ud83e\udd16 No he podido enrutar tu mensaje.\nChat: {{ $json.chatName }}\nTipo: {{ $json.type }}\nCategor\u00eda/Img: {{ $json.category || $json.image_type || 'N/A' }}",
                "additionalFields": {}
            },
            "name": "Reply Unknown",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                2384,
                448
            ],
            "id": "03ec6073-23d6-4031-9294-d99221355905",
            "webhookId": "reply-unknown-webhook",
            "credentials": {
                "telegramApi": {
                    "id": "JLG33gMQcdi4JvQq",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "operation": "sendChatAction",
                "chatId": "={{ $json.message ? $json.message.chat.id : $json.callback_query.message.chat.id }}"
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1040,
                352
            ],
            "id": "84033b75-e15a-468c-850d-a06c62fb01b3",
            "name": "Typing",
            "webhookId": "949906f6-4925-4058-a705-0071ae91fa64",
            "credentials": {
                "telegramApi": {
                    "id": "JLG33gMQcdi4JvQq",
                    "name": "Telegram account"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "Telegram Trigger": {
            "main": [
                [
                    {
                        "node": "Typing",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Identify Type": {
            "main": [
                [
                    {
                        "node": "Switch Type",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch Type": {
            "main": [
                [
                    {
                        "node": "Classify Text",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Classify Photo",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Process Callback",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Classify Text": {
            "main": [
                [
                    {
                        "node": "Route Logic",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Classify Photo": {
            "main": [
                [
                    {
                        "node": "Route Logic",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Callback": {
            "main": [
                [
                    {
                        "node": "Route Logic",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Route Logic": {
            "main": [
                [
                    {
                        "node": "Switch Target",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch Target": {
            "main": [
                [
                    {
                        "node": "Execute Target Workflow",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Reply Unknown",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Typing": {
            "main": [
                [
                    {
                        "node": "Identify Type",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "availableInMCP": false
    },
    "versionId": "b2623985-9b4e-4a6d-afe5-c8af08c2095d",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "e1f8529dafc1c7b24188afd104b1a8e8824324405683593c80fc8bc56ba17881"
    },
    "id": "Idwsbwewlp1-aUO7NZrsg",
    "tags": []
}