workflows/nido.whiteboard.review.json
{
  "name": "nido.whiteboard.review",
  "nodes": [
    {
      "parameters": {},
      "name": "External Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -4016,
        -480
      ],
      "id": "28ae760f-8292-46f4-ac90-c08bbd72dbd7"
    },
    {
      "parameters": {
        "fileName": "={{ $node[\"Load Session\"].json.path }}",
        "options": {}
      },
      "name": "Update Session File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        -3136,
        -480
      ],
      "id": "a33cafa0-e7e9-4d70-862e-b320da9f1177"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $node[\"Process Action\"].json.session.pending.length }}",
              "operation": "larger"
            }
          ]
        }
      },
      "name": "More Pending?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2224,
        -480
      ],
      "id": "94d0a361-cf11-4682-af53-849cb38cff76"
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Process Action\"].json.session.chat_id }}",
        "text": "=Siguiente evento: {{ $node[\"Process Action\"].json.session.pending[0].texto }} ({{ $node[\"Process Action\"].json.session.pending[0].date }})",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Guardar",
                    "additionalFields": {
                      "callback_data": "=accept|{{ $node[\"Process Action\"].json.session.id }}|0"
                    }
                  },
                  {
                    "text": "❌ Ignorar",
                    "additionalFields": {
                      "callback_data": "=ignore|{{ $node[\"Process Action\"].json.session.id }}|0"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "name": "Show Next Item",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -2000,
        -576
      ],
      "id": "0edfb48b-1ce6-4087-a77d-58a1012280a3",
      "webhookId": "2fcc9fab-92f1-422b-bc17-f8971e624a96",
      "credentials": {
        "telegramApi": {
          "id": "JLG33gMQcdi4JvQq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Process Action\"].json.session.chat_id }}",
        "text": "=✅ Revisión completada.\nAceptados: {{ $node[\"Process Action\"].json.session.accepted.length }}\nIgnorados: {{ $node[\"Process Action\"].json.session.ignored.length }}",
        "additionalFields": {}
      },
      "name": "Finish Review",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -2000,
        -384
      ],
      "id": "285e3edd-518c-4902-88e1-cfe06ccd448b",
      "webhookId": "1db973f2-f757-4373-b085-805b7cf5b0ce",
      "credentials": {
        "telegramApi": {
          "id": "JLG33gMQcdi4JvQq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Process Action\"].json.action }}",
              "value2": "accept"
            }
          ]
        }
      },
      "name": "Is Action Save?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2912,
        -480
      ],
      "id": "f7ee1dbe-a77d-4653-807f-038ade91b9f6"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "albertolau@pozoesteban.es"
        },
        "start": "={{ new Date($node[\"Process Action\"].json.processedItem.date).toISOString().split('T')[0] }}",
        "end": "={{ new Date($node[\"Process Action\"].json.processedItem.date).toISOString().split('T')[0] }}",
        "additionalFields": {
          "allday": "yes",
          "summary": "={{ $node[\"Process Action\"].json.processedItem.texto }}"
        }
      },
      "name": "Add to Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        -2688,
        -640
      ],
      "id": "9e5ca42e-c32a-4e29-972e-17628807fe67",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "bB5cLTUIh2iApkRb",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.item.json;\nlet action, session_id, item_index;\n\n// Priority 1: Pre-parsed data from router (action, session_id, raw_data/payload)\nif (input.action && input.session_id) {\n  action = input.action;\n  session_id = input.session_id;\n  // item_index can be in payload[0] or parsed from raw_data\n  if (input.payload && input.payload.length > 0) {\n    item_index = parseInt(input.payload[0]);\n  } else if (input.raw_data) {\n    const parts = input.raw_data.split('|');\n    item_index = parts.length >= 3 ? parseInt(parts[2]) : 0;\n  } else {\n    item_index = 0;\n  }\n}\n// Priority 3: External Trigger (fallback for sub-workflow)\nelse if ($node[\"External Trigger\"] && $node[\"External Trigger\"].json) {\n  const trigger = $node[\"External Trigger\"].json;\n  if (trigger.action && trigger.session_id) {\n    action = trigger.action;\n    session_id = trigger.session_id;\n    if (trigger.payload && trigger.payload.length > 0) {\n      item_index = parseInt(trigger.payload[0]);\n    } else if (trigger.raw_data) {\n      const parts = trigger.raw_data.split('|');\n      item_index = parts.length >= 3 ? parseInt(parts[2]) : 0;\n    } else {\n      item_index = 0;\n    }\n  } else if (trigger.callback_query && trigger.callback_query.data) {\n    const parts = trigger.callback_query.data.split('|');\n    if (parts.length >= 3) {\n      action = parts[0];\n      session_id = parts[1];\n      item_index = parseInt(parts[2]);\n    }\n  }\n}\n\n// Return empty if we couldn't parse\nif (!action || !session_id) {\n  return [];\n}\n\nreturn [{ json: { action, session_id, item_index } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3808,
        -480
      ],
      "id": "78b62acd-2af3-48f4-918b-4ee22d3ed813",
      "name": "Parse Callback"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst sessionId = items[0].json.session_id;\nconst path = `/data/review_sessions/sess_${sessionId}.json`;\nconst session = JSON.parse(fs.readFileSync(path, 'utf8'));\nreturn [{ json: { session, path } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3584,
        -480
      ],
      "id": "ecb99d55-783f-4890-a30a-b18e7a860a3c",
      "name": "Load Session"
    },
    {
      "parameters": {
        "jsCode": "// Apply Action Logic\nconst session = items[0].json.session;\nconst action = $node[\"Parse Callback\"].json.action;\nconst index = $node[\"Parse Callback\"].json.item_index;\n\nconst item = session.pending[index];\n\nif (action === 'accept') {\n  session.accepted.push(item);\n} else if (action === 'ignore') {\n  session.ignored.push(item);\n}\n\nsession.pending.splice(index, 1);\n\nconst binaryData = Buffer.from(JSON.stringify(session, null, 2)).toString('base64');\n\nreturn [{\n  json: { session, processedItem: item, action },\n  binary: {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3376,
        -480
      ],
      "id": "d843aa1a-3e14-4c6f-8d58-1c3b0a3046d8",
      "name": "Process Action"
    },
    {
      "parameters": {
        "chatId": 5785514136,
        "text": "Ignorado",
        "additionalFields": {}
      },
      "name": "Answer Ignored",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -2592,
        -464
      ],
      "id": "6cce7180-a6c4-417f-9e94-cacfee5b327b",
      "webhookId": "9a9df720-dbe0-41e6-8c27-a9c8b59c6fdc",
      "credentials": {
        "telegramApi": {
          "id": "JLG33gMQcdi4JvQq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": 5785514136,
        "text": "Guardado en el Calendario",
        "additionalFields": {}
      },
      "name": "Answer Saved",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -2464,
        -640
      ],
      "id": "865912e8-3dc5-4cdb-b74a-fbef95ba6290",
      "webhookId": "9a9df720-dbe0-41e6-8c27-a9c8b59c6fdc",
      "credentials": {
        "telegramApi": {
          "id": "JLG33gMQcdi4JvQq",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "External Trigger": {
      "main": [
        [
          {
            "node": "Parse Callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Session File": {
      "main": [
        [
          {
            "node": "Is Action Save?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Action Save?": {
      "main": [
        [
          {
            "node": "Add to Calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer Ignored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Calendar": {
      "main": [
        [
          {
            "node": "Answer Saved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "More Pending?": {
      "main": [
        [
          {
            "node": "Show Next Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finish Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Callback": {
      "main": [
        [
          {
            "node": "Load Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Session": {
      "main": [
        [
          {
            "node": "Process Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Action": {
      "main": [
        [
          {
            "node": "Update Session File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Ignored": {
      "main": [
        [
          {
            "node": "More Pending?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Saved": {
      "main": [
        [
          {
            "node": "More Pending?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "083d7157-8f55-4811-888e-00f80f2dff62",
  "meta": {
    "instanceId": "e1f8529dafc1c7b24188afd104b1a8e8824324405683593c80fc8bc56ba17881"
  },
  "id": "gSnUtg5YnaLgjyYN2sKno",
  "tags": []
}