workflows/nido.whiteboard.ingest.json
{
  "name": "nido.whiteboard.ingest",
  "nodes": [
    {
      "parameters": {},
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -2224,
        -856
      ],
      "id": "5341c064-0387-45da-ae94-d96d450b19d8"
    },
    {
      "parameters": {
        "jsCode": "// Prepare input for LLM Adapter\nconst json = $input.item.json;\n\nreturn {\n  json: {\n    prompt_id: 'whiteboard_ocr',\n    input: {\n      input_type: 'IMAGE',\n      input_path: json.image_path\n    },\n    options: {}\n  }\n};"
      },
      "name": "Prepare LLM Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2000,
        -856
      ],
      "id": "b781ecf6-bcdc-4d4b-99e3-aacc72ad7f04"
    },
    {
      "parameters": {
        "workflowId": "cIdjAXxgI1Z-LurEg16oO",
        "mode": "each",
        "options": {}
      },
      "name": "Call LLM Adapter",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -1776,
        -856
      ],
      "id": "600e70d2-98f7-443e-9e89-6e389be6bbda"
    },
    {
      "parameters": {
        "jsCode": "// Format response from LLM Adapter\n// The adapter returns: { month_detected, entries, _meta }\nconst json = $input.item.json;\n\n// Normalize keys (fallback for Spanish keys if LLM ignores schema)\nlet month_detected = json.month_detected;\nif (!month_detected) {\n    const meses = {\n        'ENERO': '01', 'FEBRERO': '02', 'MARZO': '03', 'ABRIL': '04', 'MAYO': '05', 'JUNIO': '06',\n        'JULIO': '07', 'AGOSTO': '08', 'SEPTIEMBRE': '09', 'OCTUBRE': '10', 'NOVIEMBRE': '11', 'DICIEMBRE': '12'\n    };\n    const mesNorm = (json.mes || '').toString().toUpperCase().trim();\n    const mesNum = meses[mesNorm] || (json.mes || '').toString().padStart(2,'0'); // Try mapping or pad number\n    const anio = json.anio || new Date().getFullYear();\n    month_detected = `${anio}-${mesNum}`;\n}\n\nlet entries = json.entries || json.eventos || [];\n\n// Normalize entries to ensure consistent keys (Spanish favored by review workflow)\nentries = entries.map(e => ({\n    ...e,\n    texto: e.texto || e.text,\n    fecha: e.fecha || e.date,\n    text: e.text || e.texto,\n    date: e.date || e.fecha\n}));\n\n// Create binary for downstream file saves\nconst outputJson = {\n    month_detected,\n    entries,\n    _meta: json._meta\n};\n\nconst binaryData = Buffer.from(JSON.stringify(outputJson, null, 2)).toString('base64');\n\nreturn {\n  json: outputJson,\n  binary: {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json'\n    }\n  }\n};"
      },
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1552,
        -856
      ],
      "id": "04397448-8fd7-4333-858c-e3bf1c859861"
    },
    {
      "parameters": {
        "command": "=mkdir -p /data/whiteboard_raw/{{ $json.month_detected }}"
      },
      "name": "Create Folder RAW",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -1328,
        -784
      ],
      "id": "f122423b-1850-41e5-98c6-a7e6362cc3f9"
    },
    {
      "parameters": {
        "mode": "mergeByIndex",
        "join": "outer"
      },
      "name": "Merge RAW",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        -1104,
        -856
      ],
      "id": "73805e40-5abd-49ab-bf89-60f30b8969c4"
    },
    {
      "parameters": {
        "fileName": "=/data/whiteboard_raw/{{ $json.month_detected }}/{{ new Date().toISOString().split('T')[0] }}_{{ $node[\"Execute Workflow Trigger\"].json.message_id }}.json",
        "options": {}
      },
      "name": "Save RAW",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        -880,
        -856
      ],
      "id": "d830166c-1097-43fd-b6d1-5763b88cbd7c"
    },
    {
      "parameters": {
        "command": "=mkdir -p /data/whiteboard_snapshots/{{ $json.currentSnapshot.month_detected }}"
      },
      "name": "Create Folder Snapshot",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -432,
        -784
      ],
      "id": "2e5bfca8-6558-4e79-bc7a-aec0aa8ac12b"
    },
    {
      "parameters": {
        "mode": "mergeByIndex",
        "join": "outer"
      },
      "name": "Merge Snapshot",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        -208,
        -856
      ],
      "id": "ad5110d7-496c-4270-b5a6-f948d186add8"
    },
    {
      "parameters": {
        "fileName": "=/data/whiteboard_snapshots/{{ $json.currentSnapshot.month_detected }}/{{ new Date().toISOString().split('T')[0] }}.json",
        "options": {}
      },
      "name": "Save Snapshot",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        16,
        -856
      ],
      "id": "00596eb4-9817-41e9-b557-9839f3796ae3"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.diffs.added.length + $json.diffs.modified.length }}",
              "operation": "larger"
            }
          ]
        }
      },
      "name": "Has Changes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        240,
        -856
      ],
      "id": "cff3d59e-fcf6-4d4f-b0f8-b05cd9f671fa"
    },
    {
      "parameters": {
        "command": "=mkdir -p /data/review_sessions"
      },
      "name": "Create Folder Session",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        688,
        -1024
      ],
      "id": "950f1a6c-d498-40cc-be19-d0f215e1ad7e"
    },
    {
      "parameters": {
        "mode": "mergeByIndex",
        "join": "outer"
      },
      "name": "Merge Session",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        912,
        -952
      ],
      "id": "928018a5-af8c-4848-b780-9bee3953b0fd"
    },
    {
      "parameters": {
        "fileName": "=/data/review_sessions/sess_{{ $json.uuid }}.json",
        "options": {}
      },
      "name": "Save Session",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1136,
        -952
      ],
      "id": "f00611c6-b9f0-47e3-8a0d-881eff5d7412"
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Execute Workflow Trigger\"].json.chat_id }}",
        "text": "✅ Pizarra procesada. No se detectaron cambios nuevos.",
        "additionalFields": {}
      },
      "name": "Notify No Changes",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        464,
        -760
      ],
      "id": "8fa77897-e7fd-416b-be8a-9d93f7bcc14e",
      "webhookId": "d303f614-16ab-44a6-a982-6f49ddb806bf",
      "credentials": {
        "telegramApi": {
          "id": "JLG33gMQcdi4JvQq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.session.chat_id }}",
        "text": "=Siguiente evento: {{ $json.session.pending[0].text }} ({{ $json.session.pending[0].date }})",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Guardar",
                    "additionalFields": {
                      "callback_data": "=accept|{{ $json.session.id }}|0"
                    }
                  },
                  {
                    "text": "❌ Ignorar",
                    "additionalFields": {
                      "callback_data": "=ignore|{{ $json.session.id }}|0"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "name": "Send First Item",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1360,
        -952
      ],
      "id": "2c3bbbe3-5a4b-42aa-8a74-1d4d8d121fec",
      "webhookId": "98edfce2-ecfa-49dd-8c7e-446b241634c7",
      "credentials": {
        "telegramApi": {
          "id": "JLG33gMQcdi4JvQq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Load Previous Snapshot logic (mock for now)\nconst currentSnapshot = items[0].json;\nconst diffs = {\n  added: [],\n  modified: [],\n  removed: []\n};\n\nif (currentSnapshot.entries && Array.isArray(currentSnapshot.entries)) {\n  currentSnapshot.entries.forEach(entry => {\n    diffs.added.push(entry);\n  });\n}\n\n// Create binary for next save\nconst binaryData = Buffer.from(JSON.stringify(currentSnapshot, null, 2)).toString('base64');\n\nreturn [{\n  json: {\n    diffs,\n    currentSnapshot,\n    _debug: {\n        inputKeys: Object.keys(currentSnapshot),\n        entriesType: typeof currentSnapshot.entries,\n        entriesLength: currentSnapshot.entries ? currentSnapshot.entries.length : 'N/A'\n    }\n  },\n  binary: {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -656,
        -856
      ],
      "id": "6365a230-1b97-4f37-b40e-31ffb19643dc",
      "name": "Calculate Diff"
    },
    {
      "parameters": {
        "jsCode": "// Create Session File\nconst uuid = Math.random().toString(36).substring(7);\nconst session = {\n  id: uuid,\n  created_at: new Date().toISOString(),\n  chat_id: $node[\"Execute Workflow Trigger\"].json.chat_id,\n  pending: items[0].json.diffs.added.concat(items[0].json.diffs.modified),\n  accepted: [],\n  ignored: []\n};\n\nconst binaryData = Buffer.from(JSON.stringify(session, null, 2)).toString('base64');\n\nreturn [{\n  json: { session, uuid },\n  binary: {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -952
      ],
      "id": "cce12d0b-4abf-4fe3-9ce6-07a6b76024c3",
      "name": "Calculate Session Obj"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prepare LLM Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LLM Input": {
      "main": [
        [
          {
            "node": "Call LLM Adapter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call LLM Adapter": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Create Folder RAW",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge RAW",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Create Folder RAW": {
      "main": [
        [
          {
            "node": "Merge RAW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge RAW": {
      "main": [
        [
          {
            "node": "Save RAW",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save RAW": {
      "main": [
        [
          {
            "node": "Calculate Diff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Folder Snapshot": {
      "main": [
        [
          {
            "node": "Merge Snapshot",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Snapshot": {
      "main": [
        [
          {
            "node": "Save Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Snapshot": {
      "main": [
        [
          {
            "node": "Has Changes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Changes?": {
      "main": [
        [
          {
            "node": "Calculate Session Obj",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify No Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Folder Session": {
      "main": [
        [
          {
            "node": "Merge Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Session": {
      "main": [
        [
          {
            "node": "Save Session",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Session": {
      "main": [
        [
          {
            "node": "Send First Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Diff": {
      "main": [
        [
          {
            "node": "Create Folder Snapshot",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Session Obj": {
      "main": [
        [
          {
            "node": "Create Folder Session",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Session",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "48df34a7-8f60-44b3-b218-58c510b17784",
  "meta": {
    "instanceId": "e1f8529dafc1c7b24188afd104b1a8e8824324405683593c80fc8bc56ba17881"
  },
  "id": "t3IsM1h5-xaYeegf0PpyK",
  "tags": []
}