workflows/nido.whiteboard.ingest.json
{
    "name": "nido.whiteboard.ingest",
    "nodes": [
        {
            "parameters": {},
            "name": "Execute Workflow Trigger",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1,
            "position": [
                -18000,
                80
            ],
            "id": "874e2380-1c74-458f-8731-ac0536159925"
        },
        {
            "parameters": {
                "jsCode": "// Prepare input for LLM Adapter\nconst json = $input.item.json;\n\nreturn {\n  json: {\n    prompt_id: 'whiteboard_ocr',\n    input: {\n      input_type: 'IMAGE',\n      input_path: json.image_path\n    },\n    options: {\n      model: 'models/gemini-3-flash-preview'\n    }\n  }\n};"
            },
            "name": "Prepare LLM Input",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -17808,
                80
            ],
            "id": "ff1be204-34fe-473e-bf9b-0b2e72088195"
        },
        {
            "parameters": {
                "workflowId": "RNCzRY2bi-VzDmnZiq27S",
                "mode": "each",
                "options": {}
            },
            "name": "Call LLM Adapter",
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1,
            "position": [
                -17600,
                80
            ],
            "id": "7910a23d-6eac-4496-856d-5fb9321d7b37"
        },
        {
            "parameters": {
                "jsCode": "// Format response from LLM Adapter\n// The adapter returns: { month_detected, entries, _meta }\nconst json = $input.item.json;\n\n// Normalize keys (fallback for Spanish keys if LLM ignores schema)\nlet month_detected = json.month_detected;\nif (!month_detected) {\n    const meses = {\n        'ENERO': '01', 'FEBRERO': '02', 'MARZO': '03', 'ABRIL': '04', 'MAYO': '05', 'JUNIO': '06',\n        'JULIO': '07', 'AGOSTO': '08', 'SEPTIEMBRE': '09', 'OCTUBRE': '10', 'NOVIEMBRE': '11', 'DICIEMBRE': '12'\n    };\n    const mesNorm = (json.mes || '').toString().toUpperCase().trim();\n    const mesNum = meses[mesNorm] || (json.mes || '').toString().padStart(2,'0'); // Try mapping or pad number\n    const anio = json.anio || new Date().getFullYear();\n    month_detected = `${anio}-${mesNum}`;\n}\n\nlet entries = json.entries || json.eventos || [];\n\n// Normalize entries to ensure consistent keys (Spanish favored by review workflow)\nentries = entries.map(e => ({\n    ...e,\n    texto: e.texto || e.text,\n    fecha: e.fecha || e.date,\n    text: e.text || e.texto,\n    date: e.date || e.fecha\n}));\n\n// Create binary for downstream file saves\nconst outputJson = {\n    month_detected,\n    entries,\n    _meta: json._meta\n};\n\nconst binaryData = Buffer.from(JSON.stringify(outputJson, null, 2)).toString('base64');\n\nreturn {\n  json: outputJson,\n  binary: {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json'\n    }\n  }\n};"
            },
            "name": "Format Response",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -17408,
                80
            ],
            "id": "81a3007e-27f1-4649-a575-f31e1b1c42a3"
        },
        {
            "parameters": {
                "command": "=mkdir -p /data/whiteboard_raw/{{ $json.month_detected }}"
            },
            "name": "Create Folder RAW",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                -17200,
                80
            ],
            "id": "ee340d44-2330-4a1e-a841-ff73d01f4540"
        },
        {
            "parameters": {
                "mode": "mergeByIndex",
                "join": "outer"
            },
            "name": "Merge RAW",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 1,
            "position": [
                -17008,
                80
            ],
            "id": "915bb648-0517-47b9-824c-297efbcd54d2"
        },
        {
            "parameters": {
                "fileName": "=/data/whiteboard_raw/{{ $json.month_detected }}/{{ new Date().toISOString().split('T')[0] }}_{{ $node[\"Execute Workflow Trigger\"].json.message_id }}.json",
                "options": {}
            },
            "name": "Save RAW",
            "type": "n8n-nodes-base.writeBinaryFile",
            "typeVersion": 1,
            "position": [
                -16800,
                80
            ],
            "id": "d775f1e8-33e4-4a5a-a74a-c3c15b3be2d3"
        },
        {
            "parameters": {
                "functionCode": "// Load Previous Snapshot logic (mock for now)\nconst currentSnapshot = items[0].json;\nconst diffs = {\n  added: [],\n  modified: [],\n  removed: []\n};\n\nif (currentSnapshot.entries && Array.isArray(currentSnapshot.entries)) {\n  currentSnapshot.entries.forEach(entry => {\n    diffs.added.push(entry);\n  });\n}\n\n// Create binary for next save\nconst binaryData = Buffer.from(JSON.stringify(currentSnapshot, null, 2)).toString('base64');\n\nreturn [{\n  json: {\n    diffs,\n    currentSnapshot,\n    _debug: {\n        inputKeys: Object.keys(currentSnapshot),\n        entriesType: typeof currentSnapshot.entries,\n        entriesLength: currentSnapshot.entries ? currentSnapshot.entries.length : 'N/A'\n    }\n  },\n  binary: {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json'\n    }\n  }\n}];"
            },
            "name": "Calculate Diff",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                -16608,
                80
            ],
            "id": "2ab53c32-186f-4b2d-af54-eebcd974a5d7"
        },
        {
            "parameters": {
                "command": "=mkdir -p /data/whiteboard_snapshots/{{ $json.currentSnapshot.month_detected }}"
            },
            "name": "Create Folder Snapshot",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                -16400,
                80
            ],
            "id": "8527d27a-ed54-495c-b940-a4ce405daab8"
        },
        {
            "parameters": {
                "mode": "mergeByIndex",
                "join": "outer"
            },
            "name": "Merge Snapshot",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 1,
            "position": [
                -16208,
                80
            ],
            "id": "50486778-fbaa-425f-a9cd-40ac33e5bbe3"
        },
        {
            "parameters": {
                "fileName": "=/data/whiteboard_snapshots/{{ $json.currentSnapshot.month_detected }}/{{ new Date().toISOString().split('T')[0] }}.json",
                "options": {}
            },
            "name": "Save Snapshot",
            "type": "n8n-nodes-base.writeBinaryFile",
            "typeVersion": 1,
            "position": [
                -16000,
                80
            ],
            "id": "ed3a2adc-01b7-48ad-94af-d0e9c60ab659"
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{ $json.diffs.added.length + $json.diffs.modified.length }}",
                            "operation": "larger"
                        }
                    ]
                }
            },
            "name": "Has Changes?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                -15808,
                80
            ],
            "id": "fa4c0a28-4b97-415a-a25e-97fdcac2d5e1"
        },
        {
            "parameters": {
                "functionCode": "// Create Session File\nconst uuid = Math.random().toString(36).substring(7);\nconst session = {\n  id: uuid,\n  created_at: new Date().toISOString(),\n  chat_id: $node[\"Execute Workflow Trigger\"].json.chat_id,\n  pending: items[0].json.diffs.added.concat(items[0].json.diffs.modified),\n  accepted: [],\n  ignored: []\n};\n\nconst binaryData = Buffer.from(JSON.stringify(session, null, 2)).toString('base64');\n\nreturn [{\n  json: { session, uuid },\n  binary: {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json'\n    }\n  }\n}];"
            },
            "name": "Create Session Object",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                -15600,
                -32
            ],
            "id": "68f6e229-c672-4c4b-aadb-315dce520116"
        },
        {
            "parameters": {
                "command": "=mkdir -p /data/review_sessions"
            },
            "name": "Create Folder Session",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                -15408,
                -32
            ],
            "id": "b43a3536-f245-4acd-a783-0684dc863c01"
        },
        {
            "parameters": {
                "mode": "mergeByIndex",
                "join": "outer"
            },
            "name": "Merge Session",
            "type": "n8n-nodes-base.merge",
            "typeVersion": 1,
            "position": [
                -15200,
                -32
            ],
            "id": "2340b120-6535-4d29-91cc-b2893599e50f"
        },
        {
            "parameters": {
                "fileName": "=/data/review_sessions/sess_{{ $json.uuid }}.json",
                "options": {}
            },
            "name": "Save Session",
            "type": "n8n-nodes-base.writeBinaryFile",
            "typeVersion": 1,
            "position": [
                -15008,
                -32
            ],
            "id": "04a827fa-1305-4f8a-b07d-53677f0ac79d"
        },
        {
            "parameters": {
                "chatId": "={{ $node[\"Execute Workflow Trigger\"].json.chat_id }}",
                "text": "✅ Pizarra procesada. No se detectaron cambios nuevos.",
                "additionalFields": {}
            },
            "name": "Notify No Changes",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                -15600,
                176
            ],
            "id": "90a1966e-a855-4ecf-89d3-3a204a5c53b0",
            "webhookId": "d303f614-16ab-44a6-a982-6f49ddb806bf",
            "credentials": {
                "telegramApi": {
                    "id": "JLG33gMQcdi4JvQq",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "chatId": "={{ $json.session.chat_id }}",
                "text": "=Siguiente evento: {{ $json.session.pending[0].text }} ({{ $json.session.pending[0].date }})",
                "replyMarkup": "inlineKeyboard",
                "inlineKeyboard": {
                    "rows": [
                        {
                            "row": {
                                "buttons": [
                                    {
                                        "text": "✅ Guardar",
                                        "additionalFields": {
                                            "callback_data": "=accept|{{ $json.session.id }}|0"
                                        }
                                    },
                                    {
                                        "text": "❌ Ignorar",
                                        "additionalFields": {
                                            "callback_data": "=ignore|{{ $json.session.id }}|0"
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                "additionalFields": {}
            },
            "name": "Send First Item",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                -14800,
                -32
            ],
            "id": "bad63537-846c-4f73-99d0-d3716fa88259",
            "webhookId": "98edfce2-ecfa-49dd-8c7e-446b241634c7",
            "credentials": {
                "telegramApi": {
                    "id": "JLG33gMQcdi4JvQq",
                    "name": "Telegram account"
                }
            }
        }
    ],
    "pinData": {},
    "connections": {
        "Execute Workflow Trigger": {
            "main": [
                [
                    {
                        "node": "Prepare LLM Input",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare LLM Input": {
            "main": [
                [
                    {
                        "node": "Call LLM Adapter",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call LLM Adapter": {
            "main": [
                [
                    {
                        "node": "Format Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format Response": {
            "main": [
                [
                    {
                        "node": "Create Folder RAW",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Merge RAW",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Create Folder RAW": {
            "main": [
                [
                    {
                        "node": "Merge RAW",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge RAW": {
            "main": [
                [
                    {
                        "node": "Save RAW",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save RAW": {
            "main": [
                [
                    {
                        "node": "Calculate Diff",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Calculate Diff": {
            "main": [
                [
                    {
                        "node": "Create Folder Snapshot",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Merge Snapshot",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Create Folder Snapshot": {
            "main": [
                [
                    {
                        "node": "Merge Snapshot",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Snapshot": {
            "main": [
                [
                    {
                        "node": "Save Snapshot",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Snapshot": {
            "main": [
                [
                    {
                        "node": "Has Changes?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Has Changes?": {
            "main": [
                [
                    {
                        "node": "Create Session Object",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Notify No Changes",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Session Object": {
            "main": [
                [
                    {
                        "node": "Create Folder Session",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Merge Session",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Create Folder Session": {
            "main": [
                [
                    {
                        "node": "Merge Session",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Merge Session": {
            "main": [
                [
                    {
                        "node": "Save Session",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Session": {
            "main": [
                [
                    {
                        "node": "Send First Item",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "availableInMCP": false
    },
    "versionId": "57b695c0-9726-4242-8128-42eb03e51954",
    "meta": {
        "instanceId": "e1f8529dafc1c7b24188afd104b1a8e8824324405683593c80fc8bc56ba17881"
    },
    "id": "VIMGqlIjb_uxuJ3YRqjdc",
    "tags": []
}