workflows/nido.soccer_event.json
{
  "name": "nido.soccer_event",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                2,
                5
              ],
              "triggerAtHour": 22
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Start: Now\nconst now = new Date();\n\n// End: Now + 3 days\nconst endDate = new Date(now);\nendDate.setDate(now.getDate() + 3);\nendDate.setHours(23, 59, 59, 999);\n\nreturn [\n  {\n    json: {\n      start: now.toISOString(),\n      end: endDate.toISOString()\n    }\n  }\n];"
      },
      "name": "Date Calculation",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "primary"
        },
        "returnAll": true,
        "options": {
          "singleEvents": true,
          "timeMin": "={{$node[\"Date Calculation\"].json[\"start\"]}}",
          "timeMax": "={{$node[\"Date Calculation\"].json[\"end\"]}}",
          "query": "Fútbol"
        }
      },
      "name": "Get Matches",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "FrzV2bMzBnHfLNY2",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"id\"] ? true : false}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Match Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "5785514136",
        "text": "=⚽ ¡Partido el {{new Date($node[\"Get Matches\"].json[\"start\"][\"dateTime\"]).toLocaleString(\"es-ES\", {weekday: 'long', day: 'numeric', timeZone: 'Europe/Madrid'})}}!\n\n🕒 Hora: {{new Date($node[\"Get Matches\"].json[\"start\"][\"dateTime\"]).toLocaleTimeString(\"es-ES\", {hour:'2-digit', minute:'2-digit', timeZone: 'Europe/Madrid'})}}\n\n¿Te apuntas?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Sí, voy",
                    "additionalFields": {
                      "callback_data": "=yes_football|{{$node[\"Get Matches\"].json[\"start\"][\"dateTime\"]}}|{{$node[\"Get Matches\"].json[\"end\"][\"dateTime\"]}}"
                    }
                  },
                  {
                    "text": "No puedo",
                    "additionalFields": {
                      "callback_data": "no_football"
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      "name": "Ask Alberto",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1050,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "JLG33gMQcdi4JvQq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "options": {}
      },
      "name": "Wait for Response",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        250,
        600
      ],
      "webhookId": "cb-football-response",
      "credentials": {
        "telegramApi": {
          "id": "JLG33gMQcdi4JvQq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const json = items[0].json;\nif (!json.callback_query || !json.callback_query.data) {\n  return [{ json: { answer: 'no_data' } }];\n}\n\nconst data = json.callback_query.data;\nconst parts = data.split('|');\n\nif (parts[0] === 'yes_football') {\n  return [\n    {\n      json: {\n        answer: 'yes',\n        start: parts[1],\n        end: parts[2]\n      }\n    }\n  ];\n} else {\n  return [\n    {\n      json: {\n        answer: 'no'\n      }\n    }\n  ];\n}"
      },
      "name": "Parse Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"answer\"]}}",
              "value2": "yes"
            }
          ]
        }
      },
      "name": "Is Yes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        600
      ]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "create",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "albertolau@pozoesteban.es"
        },
        "start": "={{$json[\"start\"]}}",
        "end": "={{$json[\"end\"]}}",
        "additionalFields": {
          "summary": "⚽ Partido de Fútbol de Alberto"
        }
      },
      "name": "Add to Shared Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        850,
        500
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "bB5cLTUIh2iApkRb",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "8486964833",
        "text": "=✅ Alberto ha confirmado que irá al fútbol el {{new Date($node[\"Parse Response\"].json[\"start\"]).toLocaleString(\"es-ES\", {weekday: 'long', day: 'numeric', month: 'long', hour: '2-digit', minute: '2-digit', timeZone: 'Europe/Madrid'})}}.",
        "additionalFields": {}
      },
      "name": "Notify Laura",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1050,
        500
      ],
      "credentials": {
        "telegramApi": {
          "id": "JLG33gMQcdi4JvQq",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "state",
        "operation": "upsert",
        "entityId": "input_datetime.proximo_futbol",
        "state": "={{ new Date($node[\"Parse Response\"].json[\"start\"]).toLocaleString(\"sv-SE\", { timeZone: \"Europe/Madrid\" }) }}"
      },
      "name": "Update Home Assistant",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [
        1250,
        500
      ],
      "credentials": {
        "homeAssistantApi": {
          "id": "I3MbDcoMCh6VZ8R1",
          "name": "Home Assistant Account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5785514136",
        "text": "Vale, ¡quizás a la próxima! 👋",
        "additionalFields": {}
      },
      "name": "Ack No",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        850,
        700
      ],
      "credentials": {
        "telegramApi": {
          "id": "JLG33gMQcdi4JvQq",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Date Calculation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date Calculation": {
      "main": [
        [
          {
            "node": "Get Matches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Matches": {
      "main": [
        [
          {
            "node": "Match Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Found?": {
      "main": [
        [
          {
            "node": "Ask Alberto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Response": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Is Yes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Yes?": {
      "main": [
        [
          {
            "node": "Add to Shared Calendar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ack No",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Shared Calendar": {
      "main": [
        [
          {
            "node": "Notify Laura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Laura": {
      "main": [
        [
          {
            "node": "Update Home Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}