workflows/nido.router.telegram.text.json
{
  "name": "nido.router.telegram.text",
  "nodes": [
    {
      "parameters": {},
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        256,
        -144
      ],
      "id": "4a0a0a59-a968-45ca-aff0-420ec62b6e12"
    },
    {
      "parameters": {
        "jsCode": "const prompt_id = 'router_text_classification';\nconst options = {};\n\nreturn $input.all().map(item => {\n  const json = item.json;\n  const message_text = json.message.text || '';\n  // Extract chat_id for persistent typing feedback\n  const chat_id = json.message.chat ? json.message.chat.id : null;\n  \n  return {\n    json: {\n      prompt_id,\n      options,\n      chat_id,\n      input: {\n          input_type: 'TEXT',\n          input_text: message_text\n      }\n    }\n  };\n});"
      },
      "name": "Prepare LLM Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -144
      ],
      "id": "96b62038-876b-44f0-bc37-8af089b4753b"
    },
    {
      "parameters": {
        "workflowId": "cIdjAXxgI1Z-LurEg16oO",
        "mode": "each",
        "options": {}
      },
      "name": "Classify Text",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        656,
        -144
      ],
      "id": "e0b359b5-3e7e-4e9f-9f88-49d1d226ad3f"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const json = $input.item.json;\n\nreturn {\n  json: {\n    text: json._meta.input_text,\n    category: json.category,\n    source: json._meta.source,\n    confidence: json.confidence,\n    reasoning: json.reasoning,\n    chat_id: $('Execute Workflow Trigger').item.json.message.chat.id\n  }\n};"
      },
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        -144
      ],
      "id": "7eaa429c-8445-456d-88a6-6be3cac397a0"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Prepare LLM Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare LLM Input": {
      "main": [
        [
          {
            "node": "Classify Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Text": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a709c358-9176-485b-bdce-a841e5ad615d",
  "meta": {
    "instanceId": "e1f8529dafc1c7b24188afd104b1a8e8824324405683593c80fc8bc56ba17881"
  },
  "id": "fk7A5h2ySSny8G3L_luha",
  "tags": []
}