workflows/nido.whiteboard.review.json
{
    "name": "nido.whiteboard.review",
    "nodes": [
        {
            "parameters": {},
            "name": "External Trigger",
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1,
            "position": [
                250,
                100
            ]
        },
        {
            "parameters": {
                "chatId": "={{ $json.session.chat_id }}",
                "text": "=Siguiente evento: {{ $json.session.pending[0].text }} ({{ $json.session.pending[0].date }})",
                "replyMarkup": "inlineKeyboard",
                "inlineKeyboard": {
                    "rows": [
                        {
                            "row": {
                                "buttons": [
                                    {
                                        "text": "✅ Confirmar",
                                        "additionalFields": {
                                            "callback_data": "=accept|{{ $json.session.id }}|0"
                                        }
                                    },
                                    {
                                        "text": "❌ Ignorar",
                                        "additionalFields": {
                                            "callback_data": "=ignore|{{ $json.session.id }}|0"
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            },
            "name": "Send First Item",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                450,
                100
            ],
            "credentials": {
                "telegramApi": {
                    "id": "JLG33gMQcdi4JvQq",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "updates": [
                    "callback_query"
                ],
                "additionalFields": {}
            },
            "name": "Telegram Callback",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "nido-pizarra-review",
            "credentials": {
                "telegramApi": {
                    "id": "JLG33gMQcdi4JvQq",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "callbackQueryId": "={{ $json.callback_query.id }}",
                "chatId": 5785514136,
                "text": "OK",
                "additionalFields": {}
            },
            "name": "Answer Callback",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                350,
                300
            ],
            "credentials": {
                "telegramApi": {
                    "id": "JLG33gMQcdi4JvQq",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "functionCode": "const callbackData = $node[\"Telegram Callback\"].json.callback_query;\nconst data = callbackData ? callbackData.data : null;\n\nif (!data) return [];\n\n// Format: action|session_id|item_index\nconst parts = data.split('|');\nreturn [{ json: { action: parts[0], session_id: parts[1], item_index: parseInt(parts[2]) } }];"
            },
            "name": "Parse Callback",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "const fs = require('fs');\nconst sessionId = items[0].json.session_id;\nconst path = `/data/review_sessions/sess_${sessionId}.json`;\nconst session = JSON.parse(fs.readFileSync(path, 'utf8'));\nreturn [{ json: { session, path } }];"
            },
            "name": "Load Session",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "functionCode": "// Apply Action Logic\nconst session = items[0].json.session;\nconst action = $node[\"Parse Callback\"].json.action;\nconst index = $node[\"Parse Callback\"].json.item_index;\n\nconst item = session.pending[index];\n\nif (action === 'accept') {\n  session.accepted.push(item);\n} else if (action === 'ignore') {\n  session.ignored.push(item);\n}\n\nsession.pending.splice(index, 1);\n\nconst binaryData = Buffer.from(JSON.stringify(session, null, 2)).toString('base64');\n\nreturn [{\n  json: { session, processedItem: item, action },\n  binary: {\n    data: {\n      data: binaryData,\n      mimeType: 'application/json'\n    }\n  }\n}];"
            },
            "name": "Process Action",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                850,
                300
            ]
        },
        {
            "parameters": {
                "fileName": "={{ $node[\"Load Session\"].json.path }}",
                "options": {
                    "createDirs": true
                }
            },
            "name": "Update Session File",
            "type": "n8n-nodes-base.writeBinaryFile",
            "typeVersion": 1,
            "position": [
                1050,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "number": [
                        {
                            "value1": "={{ $json.session.pending.length }}",
                            "operation": "larger",
                            "value2": 0
                        }
                    ]
                }
            },
            "name": "More Pending?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                1250,
                300
            ]
        },
        {
            "parameters": {
                "chatId": "={{ $json.session.chat_id }}",
                "messageId": "={{ $node[\"Telegram Callback\"].json.callback_query.message.message_id }}",
                "text": "=Siguiente evento: {{ $json.session.pending[0].text }} ({{ $json.session.pending[0].date }})",
                "replyMarkup": "inlineKeyboard",
                "inlineKeyboard": {
                    "rows": [
                        {
                            "row": {
                                "buttons": [
                                    {
                                        "text": "✅ Confirmar",
                                        "additionalFields": {
                                            "callback_data": "=accept|{{ $json.session.id }}|0"
                                        }
                                    },
                                    {
                                        "text": "❌ Ignorar",
                                        "additionalFields": {
                                            "callback_data": "=ignore|{{ $json.session.id }}|0"
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            },
            "name": "Show Next Item",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                1450,
                200
            ],
            "credentials": {
                "telegramApi": {
                    "id": "JLG33gMQcdi4JvQq",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "chatId": "={{ $json.session.chat_id }}",
                "messageId": "={{ $node[\"Telegram Callback\"].json.callback_query.message.message_id }}",
                "text": "=✅ Revisión completada.\nAceptados: {{ $json.session.accepted.length }}\nIgnorados: {{ $json.session.ignored.length }}",
                "additionalFields": {}
            },
            "name": "Finish Review",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                1450,
                400
            ],
            "credentials": {
                "telegramApi": {
                    "id": "JLG33gMQcdi4JvQq",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "chatId": "={{ $json.session.chat_id }}",
                "text": "=🐛 Debug Review Output:\n{{ JSON.stringify($json).slice(0, 3000) }}",
                "additionalFields": {}
            },
            "name": "Debug Output",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                1650,
                300
            ],
            "credentials": {
                "telegramApi": {
                    "id": "JLG33gMQcdi4JvQq",
                    "name": "Telegram account"
                }
            }
        }
    ],
    "connections": {
        "External Trigger": {
            "main": [
                [
                    {
                        "node": "Send First Item",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Telegram Callback": {
            "main": [
                [
                    {
                        "node": "Answer Callback",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Answer Callback": {
            "main": [
                [
                    {
                        "node": "Parse Callback",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Callback": {
            "main": [
                [
                    {
                        "node": "Load Session",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Load Session": {
            "main": [
                [
                    {
                        "node": "Process Action",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Process Action": {
            "main": [
                [
                    {
                        "node": "Update Session File",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Session File": {
            "main": [
                [
                    {
                        "node": "More Pending?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "More Pending?": {
            "main": [
                [
                    {
                        "node": "Show Next Item",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Finish Review",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Show Next Item": {
            "main": [
                [
                    {
                        "node": "Debug Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Finish Review": {
            "main": [
                [
                    {
                        "node": "Debug Output",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}